<link th:href="@{/css/modal.css}" rel="stylesheet">


<div id="errorOccurred" th:attr="data-value=${errorOccurred}"></div>
<div class="modal fade" id="addPlantModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add New Plant To My Collection</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form id="plantForm" class="d-grid" th:action="@{/myCollection}" method="post" novalidate enctype="multipart/form-data"
                      style="display: flex; align-items: center; flex-direction: column; width:400px;">
                    <div class="row justify-content-center w-100 mb-5">
                        <div class="col-auto" style="margin-left: 30px;">
                            <div class="new-plant-image-container" id="image" >
                                <img th:src="@{'/images/placeholder.jpg'}" alt="Plant" id="currentImage" >
                                <button type="button" class="image-button" onclick="document.getElementById('fileInput').click()" style="position: absolute; bottom: 10px; right: 10px; z-index: 10;">+</button>
                                <input type="file" id="fileInput" name="plantImage" style="display: none;" accept="image/*" onchange="handleImageChange()">
                            </div>
                            <span id="uploadError" th:if="${uploadError}" th:text="${uploadError}" class="smallErrorMessage"></span>
                        </div>
                    </div>
                    <br/>


                    <div class="d-flex justify-content-between align-items-center">
                        <label for="plantName"> Name: </label>
                        <label for="plantName" class="required-label"> *Required </label>
                    </div>
                    <input type="text" class="form-control input-modal" th:value="${plantName}"
                           id="plantName" name="plantName" autocomplete="off" placeholder="Plant Name" maxlength="100" list="plantNamesList"
                           th:classappend="${plantNameError} ? 'is-invalid' : ''">
                    <datalist id="plantNamesList"></datalist>
                    <span th:if="${plantNameError}" th:utext="${plantNameError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="scientificName"> Scientific Name: </label>
                    <input type="text" class="form-control input-modal" th:value="${scientificName}"
                           id="scientificName" name="scientificName" autocomplete="off" placeholder="Scientific Name" maxlength="100" list="scientificNamesList"
                           th:classappend="${scientificNameError} ? 'is-invalid' : ''">
                    <datalist id="scientificNamesList"></datalist>
                    <span th:if="${scientificNameError}" th:utext="${scientificNameError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="description"> Description: </label>
                    <br/>
                    <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
                    <textarea class="form-control input-modal" th:value="${description}"
                              id="description" name="description" placeholder="Description"  maxlength="512"
                              th:classappend="${descriptionError} ? 'is-invalid' : ''">[[${description}]]</textarea>
                    <span th:if="${descriptionError}" th:text="${descriptionError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="plantDate"> Date of Addition: </label>
                    <input type="date" class="form-control" th:value="${uploadedDate}"
                           id="plantDate" th:name="uploadedDate" style="color:#6c757d;" max="9999-12-31"
                           th:classappend="${dateError} ? 'is-invalid' : ''">
                    <span id="dateError" class="smallErrorMessage" th:utext="${dateError}"></span>
                    <input type="hidden" id="isDateInvalid" th:name="isDateInvalid" th:value="false"/>


                    <div class="d-flex flex-column align-items-center justify-content-center py-1">
                        <button type="submit" class="btn btn-primary mt-2 mb-2" >Save New Plant</button>
                        <button type="button" id="cancelButton" class="btn cancel-button text-white" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!--For Autocomplete-->
<input type="hidden" id="plantNamesJson" th:value="${plantNamesJson}">
<input type="hidden" id="plantScientificNamesJson" th:value="${plantScientificNamesJson}">
<!---->

<script>
    var form = document.getElementById('plantForm');
    var fileInput = document.getElementById('fileInput');
    var currentImage = document.getElementById('currentImage');
    var addPlantModal = document.getElementById('addPlantModal');
    var plantDateInput = document.getElementById('plantDate');
    var today = new Date();

    currentImage.src = `${getBaseUrl()}/images/placeholder.jpg`;

    var errorOccurred = document.getElementById("errorOccurred").getAttribute("data-value");
    window.onload = function() {
        console.log(errorOccurred)
        if(errorOccurred === 'true') {
            var modal = bootstrap.Modal.getOrCreateInstance(addPlantModal);
            modal.show();
        }
        updateCharacterCount();
    }

    // clears all the fields when the modal is closed
    addPlantModal.addEventListener('hide.bs.modal', function(event) {
        errorOccurred = false;

        const addPlantForm = document.getElementById('plantForm')

        const invalidInputs = addPlantForm.querySelectorAll('.is-invalid');
        invalidInputs.forEach((input) => {
            input.classList.remove('is-invalid');
        });

        const errorMessages = addPlantForm.querySelectorAll('span');
        errorMessages.forEach((errorMessage) => {
            if(errorMessage.id !== 'characterCountContainer' && errorMessage.id !== 'characterCount') {
                errorMessage.textContent = '';
            }
        })

        document.getElementById('description').value = '';
        document.getElementById('plantName').value = '';
        document.getElementById('scientificName').value = '';


    });

    // this will be triggered when the modal is about to open
    addPlantModal.addEventListener('show.bs.modal', function (event) {
        fileInput.value = '';
        currentImage.src = '[[@{/images/placeholder.jpg}]]';

        if(errorOccurred !== 'true') {
            plantDateInput.value = today.getFullYear() + '-' +
                String(today.getMonth() + 1).padStart(2, '0') + '-' +
                String(today.getDate()).padStart(2, '0');
        }

    });

    document.getElementById("plantForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "date" || activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });

    function handleImageChange() {
        var file = fileInput.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('currentImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }

    document.getElementById("plantForm").addEventListener("submit", function(event) {
        const dateInput = document.getElementById("plantDate");
        if (!(dateInput.checkValidity())) {
            event.preventDefault();
            document.getElementById("isDateInvalid").value = true;
            document.getElementById("plantForm").submit();
        } else {
            document.getElementById("isDateInvalid").value = false;
        }
    });

    document.getElementById('description').addEventListener('input', updateCharacterCount);

    function updateCharacterCount() {
        var textarea = document.getElementById("description");
        var characterCount = document.getElementById("characterCount");
        characterCount.textContent = textarea.value.length;
    }


    /////////////////////////////////////////////////////////////////////
    let plantNames = JSON.parse(document.getElementById('plantNamesJson').value || '[]');
    let scientificNames = JSON.parse(document.getElementById('plantScientificNamesJson').value || '[]');

    const plantNameInput = document.getElementById('plantName');
    const scientificNameInput = document.getElementById('scientificName');

    let removedOption = "";
    let keypress = false;


    const plantNamesList = document.getElementById('plantNamesList');
    plantNames.forEach(name => {
        let option = document.createElement('option');
        option.value = name;
        option.addEventListener('click', function() {
            getPlantDetails(name, true);
        });
        plantNamesList.appendChild(option);
    });

    const scientificNamesList = document.getElementById('scientificNamesList');
    scientificNames.forEach(name => {
        let option = document.createElement('option');
        option.value = name;
        scientificNamesList.appendChild(option);
    });


    plantNameInput.addEventListener('input', function() {
        const selectedValue = this.value;
        if (plantNames.includes(selectedValue)) {
            getPlantDetails(selectedValue, true);
        }
    });

    scientificNameInput.addEventListener('input', function() {
        const selectedValue = this.value;
        if (scientificNames.includes(selectedValue)) {
            getPlantDetails(selectedValue, false);
        }
    });


    plantNameInput.addEventListener("keydown", (e) => {
        if(e.key) {
            keypress = true;
        }
    });

    scientificNameInput.addEventListener("keydown", (e) => {
        if(e.key) {
            keypress = true;
        }
    });


    plantNameInput.addEventListener('change', (e) => {
        const inputValue = tagInput.value;
        const options = dataList.options
        if (keypress === false) {
            getPlantDetails(plantNameInput.value, true)
        }
        if(inputValue !== removedOption && removedOption !== "") {
            let newOption = document.createElement("option");
            newOption.value = removedOption;
            newOption.text = removedOption;
            dataList.appendChild(newOption);
            removedOption = "";
        }
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === inputValue) {
                removedOption = options[i].value;
                options[i].remove();
                break;
            }
        }
        keypress = false;
    });


    function getPlantDetails(selectedPlantName, isPlantName) {
        const data = {
            name: selectedPlantName,
            isPlantName: isPlantName,
            isSpecieScientificName: !isPlantName
        };

        fetch(`${getBaseUrl()}/myCollection/autoPopulate`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').getAttribute('content')
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(plantDetailsList => {
                if (plantDetailsList.length > 0) {
                    const plantDetails = plantDetailsList[0];
                    document.getElementById('plantName').value = plantDetails.name || '';
                    document.getElementById('scientificName').value = plantDetails.scientificName || '';
                    document.getElementById('description').value = plantDetails.description || '';
                    updateCharacterCount()
                    document.getElementById('plantDate').value = convertToHtmlDate(plantDetails.dateUploaded) || '';
                } else {
                    console.log('No plant details found');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function convertToHtmlDate(dateString) {
        const [day, month, year] = dateString.split('/');
        const date = new Date(year, month - 1, day);
        return date.toISOString().split('T')[0];
    }


</script>
