<link th:href="@{/css/modal.css}" rel="stylesheet">


<div id="errorOccurred" th:attr="data-value=${errorOccurred}"></div>
<div class="modal fade" id="addPlantModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add New Plant To My Collection</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <form id="plantForm" class="d-grid" th:action="@{/myCollection}" method="post" novalidate enctype="multipart/form-data"
                      style="display: flex; align-items: center; flex-direction: column; width:400px;">
                    <div class="row justify-content-center w-100 mb-5">
                        <div class="col-auto" style="margin-left: 30px;">
                            <div class="new-plant-image-container" id="image" >
                                <img th:src="@{'/images/placeholder.jpg'}" alt="Plant" id="currentImage" >
                                <button type="button" class="image-button" onclick="document.getElementById('fileInput').click()" style="position: absolute; bottom: 10px; right: 10px; z-index: 10;">+</button>
                                <input type="file" id="fileInput" name="plantImage" style="display: none;" accept="image/*" onchange="handleImageChange()">
                            </div>
                            <span id="uploadError" th:if="${uploadError}" th:text="${uploadError}" class="smallErrorMessage"></span>
                        </div>
                    </div>
                    <br/>


                    <div class="d-flex justify-content-between align-items-center">
                        <label for="plantName"> Name: </label>
                        <label for="plantName" class="required-label"> *Required </label>
                    </div>
                    <input type="text" class="form-control input-modal" th:value="${plantName}"
                           id="plantName" name="plantName" autocomplete="off" placeholder="Plant Name" maxlength="64" list="plantNamesList"
                           th:classappend="${plantNameError} ? 'is-invalid' : ''">
                    <datalist id="plantNamesList"></datalist>
                    <span th:if="${plantNameError}" th:utext="${plantNameError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="scientificName"> Scientific Name: </label>
                    <input type="text" class="form-control input-modal" th:value="${scientificName}"
                           id="scientificName" name="scientificName" autocomplete="off" placeholder="Scientific Name" maxlength="64" list="scientificNamesList"
                           th:classappend="${scientificNameError} ? 'is-invalid' : ''">
                    <datalist id="scientificNamesList"></datalist>
                    <span th:if="${scientificNameError}" th:utext="${scientificNameError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="description"> Description: </label>
                    <br/>
                    <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
                    <textarea class="form-control input-modal" th:value="${description}"
                              id="description" name="description" placeholder="Description"  maxlength="512"
                              th:classappend="${descriptionError} ? 'is-invalid' : ''">[[${description}]]</textarea>
                    <span th:if="${descriptionError}" th:text="${descriptionError}" class="smallErrorMessage"></span>
                    <br/>


                    <label for="plantDate"> Date of Addition: </label>
                    <input type="date" class="form-control" th:value="${uploadedDate}"
                           id="plantDate" th:name="uploadedDate" style="color:#6c757d;" max="9999-12-31"
                           th:classappend="${dateError} ? 'is-invalid' : ''">
                    <span id="dateError" class="smallErrorMessage" th:utext="${dateError}"></span>
                    <input type="hidden" id="isDateInvalid" th:name="isDateInvalid" th:value="false"/>


                    <div>
                        <div style="display: flex; margin-top: 40px; justify-content: flex-end;">
                            <label class="LocationIQ-attribution">Search by LocationIQ.com</label>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <div class="autocomplete-container" style="flex: 100%; margin-top: -20px;">
                                <label for="manualAddLocation"> Plant location: </label>
                                <input class="form-control" type="text" id="manualAddLocation" autocomplete="off" placeholder="Search the address here..."
                                       th:name="location" th:value="*{location}" data-cy="location" autofocus
                                       th:classappend="${locationError} ? 'is-invalid' : ''"
                                >
                                <span th:if="${locationError}" th:utext="${locationError}" class="smallErrorMessage"></span>
                                <p id="manualAddLocationUpdateMssg" class="smallErrorMessage"></p>
                                <div id="manual-add-autocomplete-results" style="margin-top: -1rem; " ></div>
                            </div>
                            <div>
                                <div class="form-check form-switch" style="margin-top: 1rem; " >
                                    <input class="form-check-input" type="checkbox" role="switch" id="manualAddLocationToggle">
                                    <label class="form-check-label" for="manualAddLocationToggle">Use current location</label>
                                </div>
                                <p id="manualAddGeolocationUpdateMssg" class="smallErrorMessage"></p>

                            </div>
                        </div>
                        <br/>
                    </div>

                    <input type="hidden" id="manualPlantLat" th:value="${manualPlantLat}" name="manualPlantLat">
                    <input type="hidden" id="manualPlantLon" th:value="${manualPlantLon}" name="manualPlantLon">

                    <div class="d-flex flex-column align-items-center justify-content-center py-1">
                        <button type="submit" class="btn btn-primary mt-2 mb-2" >Save New Plant</button>
                        <button type="button" id="cancelButton" class="btn cancel-button text-white" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!--For Autocomplete-->
<input type="hidden" id="plantNamesJson" th:value="${plantNamesJson}">
<input type="hidden" id="plantScientificNamesJson" th:value="${plantScientificNamesJson}">
<!---->

<script th:src="@{/javascript/addPlantToCollection.js}"></script>
