<div id="badgeInformationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between ">
                <h5 id="badgeTitle" class="modal-title"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center">
                <img id="badgeImage" alt="No badge image">
                <div class="d-flex flex-row justify-content-center">
                    <strong style="margin-right: 2%" >Date Earned: </strong>
                    <p  id="badgeDateEarned"></p>
                </div>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
                <button type="button" class="btn btn-secondary cancel-button text-white" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var badgeModal = document.getElementById("badgeInformationModal");

    // do not delete this method it is being used
    function handleBadgeClick(badgeName, imageFilename, dateEarned) {
        document.getElementById("badgeTitle").innerText = badgeName;
        document.getElementById("badgeImage").src = imageFilename;
        document.getElementById("badgeDateEarned").innerText = dateEarned;
        var badgeModalInstance = bootstrap.Modal.getOrCreateInstance(badgeModal);
        badgeModalInstance.show();
    }
</script>