<div class="col-md-12">
    <div class="main-page-card" style="height: 32vh;">
        <div class="card-body" style="overflow-y: scroll; height: 100%;">
            <h5 class="card-title">My Friend's List</h5>
            <div class="main-page-friends-container-scroll main-page-friend-container" >
                <p th:class="${friends.isEmpty()}? 'alert alert-transparent' : 'd-none'"> No friends added </p>
                <th:block th:each="friend : ${friends}">
                    <a class="main-page-friends-list-item main-page-custom-hover"
                       th:href="@{/user(user=${friend.id})}">
                        <img class="main-page-avatar rounded-circle"
                             style="width: 80px; height: 80px; object-fit: cover; margin-top: .3em; margin-bottom: 1em;"
                             onerror="this.onerror=null; this.src='./images/defaultProfilePic.png';"
                             th:src="@{${friend.getProfilePicture()}}" alt="Profile Picture">
                        <p class="mb-0 text-center d-inline-block text-truncate" th:text="${friend.firstName} +' ' + (${friend.lastName} ?: '')"
                           style="color: black; max-width: 100%; "></p>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>