<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar">
    <h1>Gardener's Grove</h1>
    <ul>
        <li>
            <div class="dropdown">
                <a th:href="@{/gardens}">
                    <button class="dropbtn">My Gardens</button>
                </a>
                <div class="dropdown-content">
                    <th:block th:each="garden : ${gardens}">
                        <!-- Iterate over the list of gardens and display them -->
                        <a th:href="@{/gardens/details(gardenId=${garden.id})}" th:text="${garden.name}"></a>
                    </th:block>
                </div>
            </div>
        </li>
        <li>
            <a th:href="@{/gardens/form(redirect=${requestURI})}">Create New Garden</a>
        </li>
        <li>
            <form method="GET" th:action="@{redirectToUserPage}">
                <input type="submit" value="My Profile"/>
            </form>
        </li>
        <li>
            <form method="POST" th:action="@{logout}">
                <input type="submit" value="Logout"/>
            </form>
        </li>

    </ul>
</nav>
</html>

