<div class="main-page2-card">
    <div class="main-page2-card-title">Recently accessed gardens</div>
    <ul class="list-group">
        <p th:class="${recentGardens.isEmpty()}? 'alert alert-transparent' : 'd-none'"> No recently visited garden </p>
        <li th:each="garden : ${recentGardens}" class="list-group-item p-0">
            <a th:href="@{/gardens/details(gardenId=${garden.id})}"
               class="d-block p-3 text-decoration-none text-dark main-page-custom-hover break-words overflow-wrap-anywhere text-break mb-2"
               style="transition: background-color 0.3s ease; min-width: 0;"
            >
                <span th:text="${garden.name}">Garden Name</span> <br>
                <small th:text="${garden.location}">Location</small>
            </a>
        </li>
    </ul>
</div>