<div class="main-page2-card">
    <div class="main-page2-card-title">Newest Plants</div>
    <ul class="list-group">
        <li class="list-group-item"><img src="plant-icon.png" alt="Plant Icon"> Sapling <br><small>Fabian’s Garden</small></li>
        <li class="list-group-item" ><img src="plant-icon.png" alt="Plant Icon"> Rose <br><small>Fabian’s Garden</small></li>
        <li class="list-group-item"><img src="plant-icon.png" alt="Plant Icon"> Plant <br><small>Fabian’s Garden</small></li>
    </ul>
</div>