<div class="main-page2-card">
    <div class="main-page2-card-title">Newest Plants</div>
    <div class="list-group">
        <p th:class="${newestPlants.isEmpty()}? 'alert alert-secondary' : 'd-none'">No plants added</p>
        <th:block th:each="plant : ${newestPlants}">
            <a class="list-group-item plant-item" th:href="@{/gardens/details(gardenId=${plant.garden.id})}">
                <div class="plant-image">
                    <img class="avatar" th:src="@{${plant.image}}" alt="Plant Image"/>
                </div>
                <div class="plant-info">
                    <p class="font-weight-bold" th:text="${plant.name}"></p>
                    <small th:text="${'Garden: ' + plant.garden.name}"></small>
                </div>
            </a>
        </th:block>
    </div>
</div>
