<div class="card">
    <div class="card-title">My Friend’s List</div>
    <div class="d-flex flex-wrap" style="height: 134px;">
        <div class="p-2 flex-fill text-center">
            <img alt="Friend Icon" src="friend-icon.png"><br>
            Jasmine Ong
        </div>
        <div class="p-2 flex-fill text-center">
            <img alt="Friend Icon" src="friend-icon.png"><br>
            Arthur Bell
        </div>
        <div class="p-2 flex-fill text-center">
            <img alt="Friend Icon" src="friend-icon.png"><br>
            Isaac Steele
        </div>
    </div>
</div>