
nav {
    background-color: #d9f7d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #45a049;
}


nav ul {
    list-style-type: none;
    display: flex;
}


nav ul li {
    text-decoration: none;
    margin: 0 10px 0 10px;
    word-wrap: break-word;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


nav ul li form {
    all: revert;
}


nav ul li a, nav ul li input[type="submit"] {
    text-decoration: none;
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
}

/* Took the following code from my year 13 project
 * This code adds the white underline effect on hover
 */
nav ul li a:after, nav ul li input[type="submit"]:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after, nav ul li input[type="submit"]:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover, nav ul li input[type="submit"]:hover {
    color: #45a049;
    transition: 0.3s ease;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EEFBEE;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.error {
    border: 1px solid red !important;
}

.errorMessage {
    color: red;
    font-size: 0.7rem;
}

.dropbtn {
    color: #1c1c1a;
    background-color: #d9f7d9;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#form {
    width: 550px;
    margin: 20px auto;
    background-color: #EEFBEE;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;
    overflow: hidden;
    border-radius: 10px;
}

#form * {
    box-sizing: border-box;
}

#form h2 {
    text-align: center;
    margin-bottom: 30px;
}


#form input {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
}

#form textarea {
    display: block;
    min-height: 32px;
    max-height: 300px;
    box-sizing: border-box;
    padding: 6px 16px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    margin-bottom: 15px;
    overflow-y: auto;
    resize: vertical;
}
#characterCountContainer {
    font-size: 0.8em;
}


#form label {
    font-size: 0.8em;
}

#form button, #form input[type="submit"] {
    color: #1c1c1a;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45a049;
    font-weight: 700;
    box-shadow: 2px 3px 1px #777;
    background: #d9f7d9;
}

#form button:hover, #form input[type="submit"]:hover {
    background: #8af58a;
    cursor: pointer;
}

#garden-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#error-message {
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.garden-details p {
    margin-bottom: 10px;
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}


.plant-list-container {
    overflow-y: auto;
    border-bottom: 1px solid #45a049;
    max-height: 600px;
}

.plant-table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: normal;
}

.plant-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #45a049;
    background-color: #d9f7d9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.plant-table td {
    padding: 10px;
    border-bottom: 1px solid #d9f7d9;
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}

.plant-image-container {
    max-width: 100px;
    border-radius: 4px;
    position: relative;
}

.plant-image-container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    max-height: 20vh;

}

.plant-image-container .image-button {
    position: absolute;
    top: 0;
    right: 10%;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    color: black; /* Text color */
    font-size: 20px;
    width: 10px;
    height: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: top;
}


.plant-image-container .image-button:hover {
    cursor: pointer;
    opacity: 1;
}

#form .plant-image-container {
    max-width: 100px;
    border-radius: 4px;
    position: relative;
}

#form .plant-image-container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    max-height: 20vh;
}

#form .plant-image-container .image-button {
    position: absolute;
    top: 0;
    margin: unset;
    right: 10%;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    color: black; /* Text color */
    font-size: 20px;
    width: 10px;
    height: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: top;
}

#form .plant-image-container .image-button:hover {
    cursor: pointer;
    opacity: 1;
}
.return p {
    text-align: center;
    padding-bottom: 10px;
}
.return {
    padding-top: 10px;
}

.button {
    background-color: #45a049;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.container .garden-details-links .edit-garden-button {
    background-color: #45a049;
    color: #fff;
    border: none;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 4px;         /* Rounded corners */
    cursor: pointer;
}

.container .garden-details-links .edit-garden-button:hover {
    background-color: #45a049;
}

.container .garden-details-links .add-plant-button {
    background-color: #45a049;
    color: #fff;
    border: none;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 4px;         /* Rounded corners */
    cursor: pointer;
}

.container .garden-details-links .add-plant-button:hover {
    background-color: #45a049;
}


#gardens_list a:hover {
    color: #45a049;
}

#gardens_list {
    width: 550px;
    margin: 20px auto;
    background-color: #EEFBEE;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

#garden-names {
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #45a049;
}

body, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
    color: #1c1c1a;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scrollbar-color: #45a049 #f9f9f9;
}



/* ------------------------------Upload CSS ------------------------------ */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.imageInstructionsContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
}


#uploadForm {
    display: flex;
    flex-direction: column;
}

#submitPhotoButton {
    margin-top: 15px;
    width: fit-content;
    padding: 5px;
}

.buttonDesign {
    margin-top: 15px;
    margin-right:50px;
    width: 70px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

#upLoadTitle {
    justify-content: center;
    display: flex;
    padding: 15px;
}

/* ------------------------------- END ------------------------------------*/

/* ------------------Upload container at bottom of user profile------------*/

#uploadContainer {
    display: none;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;
}

/* ------------------------------- END ------------------------------------*/


.UserProfilePicContainer {
    justify-content: center;
    align-items: center;
    display: flex;

}

.UserProfilePic {
    width: 105px;
    height: 130px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 12px;
}

.UserProfilePic img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.ChangeProfilePictureButtonContainer {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 25px;
    width:23px;
    height:23px;
}

#profileForm {
    margin: auto;
    width: 30%;
}


#cancel {
    background-color: indianred;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}

#user_div div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#user_div h1 {
    margin: 5%;
    justify-content: center;
    display: flex;
}

#profileForm {
    width: 550px;
    overflow: hidden;
    background-color: rgba(50, 100, 100, 0.3);
    border-radius: 10px;
    padding: 15px;
}

.friends-container {
    border-bottom: 1px solid #45a049;
}

#add-friend-button {
    float: right;
    font-size: 1rem;
    height: min-content;
    margin-left: 15px;
}

.search-table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    background: #d9f7d9;
    width: 100%;
    font-weight: bold;
}


.search-bar {
    background-color: yellow;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #45a049;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form.search-bar button:hover {
    background: #50cc56;
}

form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

#search-results-container {
    /*background-color: #45a049;*/
    padding: 10px;
    margin-top: 10px;
    overflow: auto;
    display: block;
    width: 100%;

}

.friends-to-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.friends-to-request img{
    max-width: 100px;
    max-height: 70px;
    border-radius: 4px;
    margin-right: 20px;
}

.picture-and-gardener {
    display: flex;
    align-items: center;
}



.gardener-result-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.send-friend-request-button {
    font-size: 1rem;
    height: min-content;
    margin-left: 15px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #45a049;
}


#friend-request-button {
    float: right;
    font-size: 1rem;
    height: min-content;
}

.friend-status {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Leave the content for the 'my friends' section displaying normally (the modal ones have been changed) */
.table-body .friend {
    justify-content: normal;
}

.friend {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #d9f7d9;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.friend p {
    word-wrap: break-word;
    white-space: normal;
    padding-left: 10px;
}

.friend img{
    max-width: 100px;
    max-height: 70px;
    border-radius: 4px;
}

.friend a {
    word-wrap: break-word;
    white-space: normal;
    padding-left: 10px;
}

.friend-status .table-header {
    border-bottom: 1px solid #45a049;
}

.friend-status .table-header:nth-child(1) {
    padding: 10px;
}

.table-header {
    background: #d9f7d9;
    width: 100%;
    display: flex;
    font-weight: bold;
}
/*a {*/
/*    text-decoration: none;*/
/*    color: blue;*/
/*}*/

/*p {*/
/*    color: red;*/
/*    font-size: 14px;*/
/*}*/

/* The Modal (background) */
/* Taken from: https://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Box */
.modal .friend-requests, .add-friends {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50vh;
    overflow: auto;
    border-radius: 15px;
}
.modal .confirmation{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    overflow: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* The Close Button for the modals */
.close {
    position: relative;
    top: 0;
    right: 10px;
    background: none;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.friend-requests .header {
    display: flex;
    margin-bottom: 5vh;
}

.friend-requests .table-header {
    display: flex;
    justify-content: space-around;
    background: none;
    border: 1px solid #d9f7d9;
    border-radius: 5px;
    margin-right: 15px;
}

.friend-requests .table-header button {
    width: 100%;
    border: none;
    padding: 2px;
    border-radius: 5px;

}

.friend-requests .table-header button:hover {
    cursor: pointer;
}

#received-btn {
    background: white;
}

#sent-btn {
    background: #45a049;
}

#received-requests {
    display: none;
    justify-content: space-between;
}

.friend-info {
    display: flex;
    align-items: center;
}

.decline-friend-req-btn {
    background: #e64343 !important;
}

.cancel {
    background: #888 !important;
    margin-left: 20px;
}

.confirmation-container {
    display: flex;
    margin-top: 12px;
}

.remove-friend-button {
    margin-left: auto;
    background: #e64343 !important;
}

.back-link {
    position: absolute;
    top: 150px;
    left: 40px;
    z-index: 1000;
}



