* {
    box-sizing: border-box;
}

:root {
    --button-hover-color: rgb(52, 72, 59);
    --button-color: rgb(53, 91, 72);
    --input-background-color: #eef3f7;
    --card-background-color: #e7f0dc;
    --alert-background-color: rgb(52, 72, 59);
    --text-color: #fffdf6;
    --background-color: #fffdf6;
    --primary-color: #8dab6e;
    --secondary-color: #d1dc97;
    --accent-color: #f8dc30;
    --size-bezel: .5rem;
    --weather-colour: #9dc7e1;
    --forecast-colour: #8fb6ce;
    --button-cancel-colour: #ff5757;
    --button-cancel-hover-colour: #cd4747;

}

.card-collection-body {
    display: flex;
    min-width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    margin: 0;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    padding-top: 5vh; /* Add some padding at the top */
}

.header-container {
    margin-bottom: 20px;
    text-align: center;
}

.card-img-top {
    max-width: 128px;
}

#collection-card-img {
    max-width: max-content !important;
}

.current {
    background-color: var(--weather-colour) !important;
    height: 400px;
    width: 400px;
    min-width: 100%;
}

.forecast {
    background-color: var(--forecast-colour) !important;
    height: 400px;
    width: 200px;
    min-width: 100%;
    margin-bottom: 0;

}

h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: bold;
}

.nav-title h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: 'Matemasie', sans-serif;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.1rem !important;
    font-weight: 800 !important;
}

.title {
    color: var(--primary-color);
    font-family: 'Matemasie', sans-serif;
}

.form-group {
    position: relative;
    padding: 15px 0 0;
}

.form-control {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 25px;
    color: var(--text-color);
    margin-bottom: 15px;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}

.form-control::placeholder {
    color: gray;
    opacity: 1;
}

.garden-form-control {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 25px;
    color: var(--text-color);
    margin-bottom: 15px;
    padding: 10px 10px;
    width: 100%;
    text-align: left;
    --text-color: black;
}

.garden-form-control::placeholder {
    color: gray;
    opacity: 1;
}

textarea#description.garden-form-control {
    height: auto !important;
    min-height: 80px !important;
    overflow-y: visible !important;
    resize: vertical !important;
}


.btn {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    width: 50%;
    min-width: 100px;
    transition: 0.1s ease all;
}

.btn-primary {
    background-color: var(--button-color);
    color: var(--text-color);
    /*box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);*/
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
}

.hr {
    width: 200%;
}

.btn-link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.btn-link:hover {
    color: var(--button-hover-color);
}


.logo {
    width: 75px;
    border-radius: 100%;
    height: 75px;
}

/* Label code from https://codepen.io/lucasyem/pen/ZEEYKdj */

.form-field {
    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form-label {
        cursor: text;
        top: 25px;
    }
}

.form-label {
    position: absolute;
    top: -10px;
    left: 20px;
    display: block;
    transition: 0.2s;
    color: white;
    font-style: italic;
}

.form-field:focus {
    ~ .form-label {
        position: absolute;
        top: -10px;
        display: block;
        transition: 0.2s;
        color: white;
    }

    padding-bottom: 6px;
}

/* reset input */
.form-field {
    &:required, &:invalid {
        box-shadow: none;
    }
}

#autocomplete-results {
    align-items: baseline;
    max-height: 25vh;
    overflow: scroll;
}

.autocomplete-item {
    border: 1px solid white;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    width: 98%;
    padding-left: 20px;
}

.ml-25p {
    margin-left: 25%;
}

/* Dropdown Button */
.dropbtn {
    color: #1c1c1a;
    background-color: rgba(209, 220, 151, 0.8) !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center; /* Aligns text and arrow vertically */
}

img {
    width: 100%;
}

.card {
    margin-top: auto; /* Push the card to the center */
    border: 2px solid var(--card-background-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.list-group {
    width: 100%;
    list-style-type: none;
}

.list-group-item {
    background: #d1dc97 !important;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px 15px;
}

.list-group-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*.dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    z-index: 99; !* Always show on top of everything *!*/
/*}*/

.plant-item {
    display: flex;
    align-items: center;
}

.plant-image {
    flex-shrink: 0;
    margin-right: 15px;
}

.plant-info {
    flex-grow: 1;
}

.plant-info p {
    margin-bottom: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);

}

.error {
    border: 1px solid red !important;
}

.errorMessage {
    color: #b90909;
    font-size: smaller;
}

.errorMessage {
    color: var(--accent-color);
    font-size: smaller;
}

.smallErrorMessage {
    font-size: 14px;
    font-style: italic;
    color: red;
    display: block;
}


#form {
    width: 550px;
    margin: 20px auto;
    background-color: var(--primary-color);
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;
    overflow: hidden;
    border-radius: 10px;
}

#form * {
    box-sizing: border-box;
}

#form h2 {
    text-align: center;
    margin-bottom: 30px;
}

#form input {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

#form textarea {
    display: block;
    min-height: 32px;
    max-height: 300px;
    box-sizing: border-box;
    padding: 6px 16px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    margin-bottom: 15px;
    overflow-y: auto;
    resize: vertical;
}

#form .surnameCheck {
    display: inline;
    margin-top: 3px;
}

#form .surnameCheck input {
    width: 50%;
}

#characterCountContainer {
    font-size: 0.8750em;
}


#form label {
    font-size: 0.8750em;
}

#form button, #form input[type="submit"] {
    color: #1c1c1a;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    font-weight: 700;
    box-shadow: 2px 3px 1px #777;
    background: var(--button-color);
}

#form button:hover, #form input[type="submit"]:hover {
    background: var(--button-hover-color);
    cursor: pointer;
}

#tag-container {
    display: flex;
    width: auto;
    margin-bottom: 20px;
    align-items: center;
}


#tag {
    width: fit-content;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    margin-left: 5px;
    padding: 5px;
    color: #ffffff;
}

#add-tag {
    width: 22px;
    height: 22px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    margin-left: 5px;
    padding-left: 6.5px;
    color: #ffffff;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#submit-tag {
    display: none;
    width: 22px;
    height: 22px;
    background-color: var(--button-color);
    border-radius: 50%;
    margin-left: 5px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    color: #ffffff;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add-tag:hover, #submit-tag:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

#tag-input {
    display: none;
    width: 200px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
}

#tag-error-container {
    height: auto;
}

.tag-error-message {
    color: red;
    text-align: left;
    animation: fadeOut 2s forwards;
    animation-delay: 3s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


#garden-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}


.garden-details p {
    margin-bottom: 10px;
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.left-details-container {
    display: inline-grid;
}

.left-details-container p {
    margin-bottom: 10px;
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.right-details-container {
    display: inline-grid;
    position: absolute;
    right: 0;
    height: 130px;
    margin-right: 2%;
}

.public-checkbox-container {
    /*position: absolute;*/
    bottom: 0;
}

#public-checkbox-label {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--button-color);
    padding-right: 10px;
    vertical-align: middle;
}

#isGardenPublic {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    background-color: var(--button-color);
}

.plant-list-container {
    overflow-y: auto;
    border-bottom: 1px solid #45a049;
    max-height: 600px;
}


.plant-image-container {
    max-width: 100px;
    border-radius: 4px;
    position: relative;
}

.plant-image-container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    max-height: 20vh;

}

.plant-image-container .image-button {
    position: absolute;
    top: 0;
    right: 10%;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    color: black; /* Text color */
    font-size: 20px;
    width: 10px;
    height: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: top;
}

.table-primary td {
    background-color: var(--background-color);
}

.table-primary th {
    background-color: var(--primary-color);
}

.plant-image-container .image-button:hover {
    cursor: pointer;
    opacity: 1;
}

#form .plant-image-container {
    max-width: 100px;
    border-radius: 4px;
    position: relative;
}

#form .plant-image-container img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    max-height: 20vh;
}

#form .plant-image-container .image-button {
    position: absolute;
    top: 0;
    margin: unset;
    right: 10%;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    color: black; /* Text color */
    font-size: 20px;
    width: 10px;
    height: 10px;
    line-height: 1;
    text-align: center;
    vertical-align: top;
    box-shadow: none;
}

#form .plant-image-container .image-button:hover {
    cursor: pointer;
    opacity: 1;
}

.return p {
    font-size: 14px;
    font-style: italic;
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-color);
}


#gardens_list a:hover {
    color: var(--button-hover-color);
}

#gardens_list {
    width: 550px;
    margin: 20px auto;
    background-color: var(--primary-color);
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

#garden-names {
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.garden-details-container {
    display: flex;
    justify-content: space-evenly;
}

#location-error {
    border: 1px solid red;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.3);
    height: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1%;
    margin-top: 15px;
}

.weather-display-row {
    flex-direction: column;
}

.temperature-container {
    display: flex;
    flex-direction: row;
}

.weather-display-column-2 {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.temperature {
    font-size: 2vw;
}


body, h2, h3, h4, h5, h6, a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #1c1c1a;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-color: #8dab6e #e7f0dc;
}

.buttonDesign {
    margin-top: 15px;
    margin-right: 50px;
    width: 70px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

.UserProfilePicContainer {
    width: 105px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

.UserProfilePicContainer img {
    width: 105px;
    height: 130px;
    border-radius: 12px;
    object-fit: cover;
}

.UserProfilePicContainer .image-button {
    position: absolute;
    right: 5px;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 25px;
    box-shadow: none;
    z-index: 1;
}


.UserProfilePicContainer .image-button:hover {
    cursor: pointer;
    opacity: 1;
}

.main-page-friends-list-item {
    background: #d1dc97 !important;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}

.main-page-card {
    margin-top: auto; /* Push the card to the center */
    border: 2px solid var(--card-background-color);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 53em;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.main-page-card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.main-page2-card {
    margin-top: auto; /* Push the card to the center */
    border: 2px solid var(--card-background-color);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page2-card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.main-page-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-page-custom-hover {
    background-color: transparent;
}

.main-page-custom-hover:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.main-page-friends-container-scroll::-webkit-scrollbar {
    width: 5px;
}

.main-page-friends-container-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.main-page-friend-container {
    max-height: 280px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.alert-transparent {
    background-color: transparent !important;
    border: none !important;
}


#profileForm {
    margin: auto;
    width: 30%;
}


#cancel {
    background-color: indianred;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}

#user_div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_div h1 {
    margin: 5%;
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.warningMessageContainer {
    color: red;
    font-style: italic;
}

/*signup code form css*/

#form .signup-code input[type="text"] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: calc(100% - 32px); /* Adjusted width */
    border: none;
    margin-bottom: 15px;
}

#form .signup-code {
    background-color: var(--primary-color); /* Adjusted background color */
    padding: 20px; /* Adjusted padding */
    border-radius: 10px; /* Adjusted border radius */
    margin-bottom: 20px; /* Added margin bottom */
    align-content: baseline;
    /*! flex-direction: row; */
    /*! display: flex; */
}

.friends-container {
    border-bottom: 1px solid #45a049;
}

#add-friend-button {
    float: right;
    font-size: 1rem;
    height: min-content;
    margin-left: 15px;
}

.search-table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    background: var(--secondary-color);
    width: 100%;
    font-weight: bold;
}


.search-bar {
    background-color: yellow;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search-bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--button-color);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.search-bar button:hover {
    background: var(--button-hover-color);
}

form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

#search-results-container {
    /*background-color: #45a049;*/
    padding: 10px;
    margin-top: 10px;
    overflow: auto;
    display: block;
    width: 100%;

}

.friends-to-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.friends-to-request img {
    max-width: 100px;
    max-height: 70px;
    border-radius: 4px;
    margin-right: 20px;
}

.picture-and-gardener {
    display: flex;
    align-items: center;
}


.gardener-result-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.send-friend-request-button {
    font-size: 1rem;
    height: min-content;
    margin-left: 15px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #45a049;
}


#friend-request-button {
    float: right;
    font-size: 1rem;
    height: min-content;
}

.friend-status {
    width: 110%;
    display: flex;
    flex-direction: column;
}

/* Leave the content for the 'my friends' section displaying normally (the modal ones have been changed) */
.table-body .friend {
    justify-content: normal;
}

.friend {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.friend p {
    word-wrap: break-word;
    white-space: normal;
    padding-left: 10px;
}

.friend img {
    max-width: 100px;
    max-height: 70px;
    border-radius: 4px;
}

.friend a {
    word-wrap: break-word;
    white-space: normal;
    padding-left: 10px;
}

.friend-status .table-header {
    border-bottom: 1px solid #45a049;
}

.friend-status .table-header:nth-child(1) {
    padding: 10px;
}

.table-header {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    font-weight: bold;
}


#form .signup-code legend {
    text-align: center; /* Centered legend */
    margin-bottom: 10px; /* Added margin bottom */
}

#form .signup-input {
    font-size: 1.5em;
    width: calc((100% - 20px) / 6); /* Adjusted width */
    text-align: center;
    flex: 1 0 1em;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

#form .signup .errorMessage {
    color: red;
    font-size: 0.7rem;
    text-align: center; /* Centered error message */
    margin-top: 10px; /* Added margin top */
}

#form .signup input[type='submit'] {
    color: #1c1c1a;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    font-weight: 700;
    box-shadow: 2px 3px 1px #777;
    background: var(--secondary-color);
}

#form .signup input[type='submit']:hover {
    background: var(--button-hover-color);
    cursor: pointer;
}

.link {
    color: #0073e6;
}

/*!* The Modal (background) *!*/
/*!* Taken from: https://www.w3schools.com/howto/howto_css_modals.asp*!*/
.friend-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: hidden; /* Disabled scroll  */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Box */
.friend-modal .friend-requests, .add-friends, .add-tags {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50vh;
    overflow: auto;
    border-radius: 15px;
}

.friend-modal .confirmation {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    overflow: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* The Close Button for the modals */
.close {
    position: relative;
    top: 0;
    right: 10px;
    background: none;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.friend-requests .header {
    display: flex;
    margin-bottom: 5vh;
}

.friend-requests .table-header {
    display: flex;
    justify-content: space-around;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-right: 15px;
}

.friend-requests .table-header button {
    width: 100%;
    border: none;
    padding: 2px;
    border-radius: 5px;

}

.friend-requests .table-header button:hover {
    cursor: pointer;
}

#received-btn {
    background: white;
}

#sent-btn {
    background: #45a049;
}

#received-requests {
    display: none;
    justify-content: space-between;
}

.friend-info {
    display: flex;
    align-items: center;
}

.decline-friend-req-btn {
    background: #e64343 !important;
}

.cancel {
    background: #888 !important;
    margin-left: 20px;
}

.confirmation-container {
    display: flex;
    margin-top: 12px;
}

.remove-friend-button {
    margin-left: auto;
    background: #e64343 !important;
}

.back-link {
    position: absolute;
    top: 150px;
    left: 40px;

}

.autocomplete-container {
    position: relative;
}

#address-input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% - 2px);
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.autocomplete-results.visible {
    display: block;
}

.LocationIQ-attribution {
    color: blue;
    font-weight: bold;
}

#form.create-garden {
    width: 850px;
}


.create-garden-row {
    display: flex;
    justify-content: space-between;
}

.create-garden-row > div {
    flex: 1;
    margin-right: 10px;
}

.create-garden-row > div:last-child {
    margin-right: 0;
}

.create-garden-button {
    width: 100% !important;
}

.create-garden-cancel {
    width: 100% !important;
}

.notification {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
}

.notification form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.notification button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.notification button:hover {
    text-decoration: underline;
}


.autocomplete-container {
    position: relative;
}

#address-input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% - 2px);
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.autocomplete-results.visible {
    display: block;
}

.LocationIQ-attribution {
    color: blue;
    font-weight: bold;
}

#form.create-garden {
    width: 850px;
}


.create-garden-row {
    display: flex;
    justify-content: space-between;
}

.create-garden-row > div {
    flex: 1;
    margin-right: 10px;
}

.autocomplete-container {
    position: relative;
}

#address-input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% - 2px);
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.autocomplete-results.visible {
    display: block;
}

.LocationIQ-attribution {
    color: blue;
    font-weight: bold;
}

#form.create-garden {
    width: 850px;
}


.create-garden-row {
    display: flex;
    justify-content: space-between;
}

.create-garden-row > div {
    flex: 1;
    margin-right: 10px;
}

.create-garden-row > div:last-child {
    margin-right: 0;
}


.create-garden-row > div:last-child {
    margin-right: 0;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.no-search-results-found-container {
    justify-content: center;
    display: flex;
    margin-top: 40px;
    color: grey;
    font-style: italic;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 20px auto;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 10px;
}

.browse-gardens-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.collection-container {
    max-width: 1500px;
    margin: 50px auto;
    padding: 0 20px;
}

.collection-container {
    max-width: 1800px;
    margin: 20px auto;
    padding: 0 20px;
}


.friend-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.browse-gardens-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.collection-gardens-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.collection-gardens-card {
    padding: 0 !important;
}

.plant-wiki-card {
    padding: 0 !important;
    min-height: 633px
}

.plant-wiki-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.friend-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.friend-modal h2 {
    margin-top: 0;
}

body {
    background-color: #fffdf6;
}

table td {
    vertical-align: top;
    border: solid 1px #888;
    padding: 10px;
}


.selectable {
    border: none; /* No border by default */
    outline: none;
}

.selectable.selected {
    border: 2px solid green; /* Highlight border when selected */
}

.hidden, .hidden * {
    display: none !important;
}



/*my collection page*/
.border-custom {
    border: 3px dashed black !important;
}

.add-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
    padding: 0;
    line-height: 1;
    background-color: var(--button-color);
    color: var(--text-color);
}
.add-button .icon {
    font-size: 74px;
    margin-bottom: -5px;
    margin-top: -20px;
}
.add-button .text {
    font-size: 20px;
}