
#navbar {
    background-color: #d9f7d9;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #45a049;
}


#navbar a {
    text-decoration: none;
    margin-right: 10px;
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

#navbar a:hover {
    color: #45a049;
    text-decoration: underline #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EEFBEE;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.error {
    border: 1px solid red;
}

.dropbtn {
    color: #1c1c1a;
    background-color: #d9f7d9;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#form {
    width: 280px;
    margin: 20px auto;
    background-color: #EEFBEE;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;

}

#form * {
    box-sizing: border-box;
}

#form h2 {
    text-align: center;
    margin-bottom: 30px;
}


#form input {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
}

#form textarea {
    display: block;
    min-height: 32px;
    max-height: 300px;
    box-sizing: border-box;
    padding: 6px 16px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    margin-bottom: 15px;
    overflow-y: auto;
    resize: vertical;
}
#characterCountContainer {
    font-size: 0.8em;
}


#form label {
    font-size: 0.8em;
}

#form button {
    color: #1c1c1a;
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #45a049;
    font-weight: 700;
    box-shadow: 2px 3px 1px #777;
    background: #d9f7d9;
}

#garden-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.garden-details p {
    margin-bottom: 10px;
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}


.plant-list-container {
    overflow-y: auto;
    border-bottom: 1px solid #45a049;
    max-height: 600px;
}

.plant-table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: normal;
}

.plant-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #45a049;
    background-color: #d9f7d9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.plant-table td {
    padding: 10px;
    border-bottom: 1px solid #d9f7d9;
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}


.plant-image {
    max-width: 100px;
    max-height: 70px;
    border-radius: 4px;
}


.edit-button {
    background-color: #45a049;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #45a049;
}

#gardens_list a:hover {
    color: #45a049;
}

#gardens_list {
    width: 300px;
    margin: 20px auto;
    background-color: #EEFBEE;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #777;
}

#garden-names {
    max-width: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #45a049;
}

body, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
    color: #1c1c1a;
}

* {
    scrollbar-color: #45a049 #f9f9f9;
}



