* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    margin: 5%;
    justify-content: center;
    display: flex;
}

label {
    margin: 5px;
    display: inline-block;
    min-width: 200px;
}

input {
    margin: 5px;
    width: 200px;
}

.form-control {
    width: auto;
}

input[type=submit] {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    border-radius: 5px;
}

/* ------------------------------Upload CSS ------------------------------ */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.imageInstructionsContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
}


#uploadForm {
    display: flex;
    flex-direction: column;
}

#submitPhotoButton {
    margin-top: 15px;
    width: fit-content;
    padding: 5px;
}

.buttonDesign {
    margin-top: 15px;
    margin-right:50px;
    width: 70px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

#upLoadTitle {
    justify-content: center;
    display: flex;
    padding: 15px;
}

/* ------------------------------- END ------------------------------------*/

/* ------------------Upload container at bottom of user profile------------*/

#uploadContainer {
    display: none;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;
}

/* ------------------------------- END ------------------------------------*/


.UserProfilePicContainer {
    justify-content: center;
    align-items: center;
    display: flex;

}

.UserProfilePic {
    width: 105px;
    height: 130px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 12px;
}

.UserProfilePic img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.ChangeProfilePictureButtonContainer {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 25px;
    width:23px;
    height:23px;
}

#profileForm {
    margin: auto;
    width: 30%;
}

#profileForm {
    margin: auto;
    width: 30%;
}

#cancel {
    background-color: indianred;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 550px;
    overflow: hidden;
    background-color: rgba(50, 100, 100, 0.3);
    border-radius: 10px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: red;
    font-size: 14px;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: rgba(50, 100, 100, 0.3);
    padding: 15px;
    display: flex;
    justify-content: right;
}
nav form {
    all: revert;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: block;
}
