<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Badges</title>
</head>
<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>

<div class="d-flex flex-wrap justify-content-center mt-4 gap-3">
    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 mb-4 h-100" style="height:100%">
        <div>
            <div class="main-page2-card" style="height: 100%; overflow: hidden">
                <h5 class="main-page2-card-title">My Badges</h5>
                <div>

                    <p th:class="${earnedBadges == null || earnedBadges.isEmpty()}? 'alert alert-transparent' : 'd-none'">No Badges Unlocked</p>
                    <th:block th:each="badge, iterStat : ${earnedBadges}">
                        <div th:onclick="handleBadgeClick([[${badge.name}]], [[${badge.imageFilename}]], [[${badge.dateEarned}]])"
                             th:tabIndex="${iterStat.index + 18}" th:onkeydown="handleEnterKey(event, [[${badge.name}]], [[${badge.imageFilename}]], [[${badge.dateEarned}]])"
                             class="list-group-item main-page-custom-hover p-1" style="width: 29%;cursor: pointer; border-radius: 10px;">
                            <p th:text="${badge.name}" style="color: black; text-align: center;"></p>
                            <img id="plantBadgeImage" th:src="@{${badge.imageFilename}}" th:alt="${badge.name}"
                                 style="width: 100%; height: 50%;">
                            <p th:text="${badge.dateEarned}" style="color: black; text-align: center;"></p>
                        </div>
                    </th:block>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 mb-4 h-100" style="height:100%">
        <div style="height: 32vh;">
            <div class="main-page2-card" style="height: 100%; overflow: hidden">
                <h5 class="main-page2-card-title">Locked Badges</h5>
                <div class="main-page-friend-container d-flex flex-wrap justify-content-center gap-3 p-0 overflow-auto" >

                    <p th:class="${lockedBadgeNames == null || lockedBadgeNames.isEmpty()}? 'alert alert-transparent' : 'd-none'">All Badges Unlocked</p>
                    <th:block th:each="badgeInfo, iterStat : ${lockedBadgeNames}">
                        <div class="list-group-item main-page-custom-hover p-1"
                             style="width: 29%; border-radius: 10px;">
                            <p th:text="${badgeInfo.key}" style="color: black; text-align: center;"></p>
                            <img id="lockedPlantBadgeImage" th:src="@{${badgeInfo.value}}" th:alt="${badgeInfo.key}"
                                 style="width: 100%; height: 100%;">
                        </div>
                    </th:block>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{modal/badgeInformationModal.html}"></div>
</body>
</html>