<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <meta charset="UTF-8">
    <title>Browse Gardens</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div class="browse-gardens-container">
    <div class="search-container d-flex justify-content-center">
        <form class="form-inline" method="post" th:action="@{/browseGardens}">
            <input class="form-control mr-2 mb-0 mt-0" th:name="searchTerm" th:value="${searchTerm}" type="search" placeholder="Search" aria-label="Search" tabindex="13">
            <button class="btn btn-outline-success mt-0" type="submit" tabindex="14">Search</button>
            <div th:each="tag : ${tags}">
                <input type="hidden" name="tags" th:value="${tag}" />
            </div>
        </form>
    </div>
    <div class="no-search-results-found-container">
        <span th:if="${noSearchResults}" th:text="${noSearchResults}"></span>
    </div>
    <div id="tag-container">
        <strong>Tags:</strong>
        <div th:if="${tags != null}" th:each="tag : ${tags}">
            <div id="tag">
                <span th:text="${tag}"></span>
            </div>
        </div>
        <a id="add-tag" th:style="${tag != null} ? 'display: none;' : 'display: block;'"
           onclick="transformToInput()" tabindex="15">
            <img class="nav-link" src="/images/icons/add_circle_white.png" alt="Add Circle">
        </a>
        <form id="hidden-tag-form" method="post" autocomplete="off" th:action="@{browseGardens/addTag}">
            <input type="text" id="tag-input" list="tagList" autocomplete="off" th:value="${tag != null ? tag : ''}"
                   th:style="${tag != null} ? 'display: block;' : 'display: none;'" placeholder="Add tag..."
                   maxlength="25" onkeydown="submitTagOnEnter(event)" autofocus
                   th:classappend="${(tagValid != '' && tagValid != null) ? 'error' : ''}" tabindex="16">
            <input type="hidden" name="pageNo" th:value="${gardensPage.number}" >
            <input type="hidden" name="tag-input" id="hidden-tag-input">
            <div th:each="tag : ${tags}">
                <input type="hidden" name="tags" th:value="${tag}" />
            </div>
            <datalist id="tagList">
                <option th:each="tag : ${allTags}" th:value="${tag}" th:text="${tag}"></option>
            </datalist>
        </form>
        <a id="submit-tag" th:style="${tag != null} ? 'display: block;' : 'display: none;'"
           onclick="submitTag()" tabindex="17">
            <img class="nav-link" src="/images/icons/add_circle_white.png" alt="Add Circle">
        </a>
    </div>
    <div id="tag-error-container">
        <p id="tag-error-message" th:value="${tagValid}" th:utext="${tagValid}"></p>
    </div>
    <div class="row">
        <div th:each="garden : ${gardensPage.content}" th:if="${gardenStat.index < 5}" class="col" style="width: 300px;">
            <a th:href="@{gardens/details(gardenId=${garden.id})}" style="text-decoration: none; color: inherit;">
                <div class="card browse-gardens-card col p-0">
                    <div class="card-body w-100">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h3 class="d-inline-block text-truncate"  style="color: #fffdf6; max-width: 100%; font-weight: 600;" th:text="${garden.name}"></h3>
                            </div>
                            <div style="display: flex; justify-content: center; margin-top: 13px;">
                                <p style="color: #fffdf6" class="card-text" th:text="${garden.creationDate}"></p>
                            </div>
                        </div>
                        <div class="row mt-auto">
                            <div class="col-12 text-left">
                                <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
                                    <img class="avatar" th:src="@{${garden.gardener.profilePicture}}"/>
                                    <p style="color: #fffdf6; max-width: 100%" class="card-text d-inline-block text-truncate" th:text="${garden.gardener.firstName} + ${garden.gardener.lastName != null ? ' ' + garden.gardener.lastName : ''}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div th:each="garden : ${gardensPage.content}" th:if="${gardenStat.index >= 5 && gardenStat.index < 10}" class="col" style="width: 300px;">
            <a th:href="@{gardens/details(gardenId=${garden.id})}" style="text-decoration: none; color: inherit;">
                <div class="card browse-gardens-card col p-0" >
                    <div class="card-body w-100">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h3 class="d-inline-block text-truncate" style="color: #fffdf6; max-width: 100%;" th:text="${garden.name}"></h3>
                            </div>
                            <div style="display: flex; justify-content: center; margin-top: 13px;">
                                <p style="color: #fffdf6" class="card-text" th:text="${garden.creationDate}"></p>
                            </div>
                        </div>
                        <div class="row mt-auto">
                            <div class="col-12 text-left">
                                <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
                                    <img class="avatar" th:src="@{${garden.gardener.profilePicture}}"/>
                                    <p style="color: #fffdf6; max-width: 100%" class="card-text d-inline-block text-truncate" th:text="${garden.gardener.firstName} + ${garden.gardener.lastName != null ? ' ' + garden.gardener.lastName : ''}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div th:if="${gardensPage.totalPages > 0}" class="d-flex justify-content-center" aria-label="Page navigation example ">
    <ul class = "pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/browseGardens(pageNo=0, pageRequest=true)}"
               aria-label="Previous">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <ul th:if="${gardensPage.totalPages > 0}" class="pagination"
            th:each="pageNumber : ${pageNumbers}">
            <li class="page-item"><a class="page-link" th:href="@{/browseGardens(pageNo=${pageNumber - 1},pageRequest=true)}" th:text="${pageNumber}"></a></li>
        </ul>
        <li class="page-item">
            <a class="page-link" th:href="@{/browseGardens(pageNo=${gardensPage.totalPages - 1}, pageRequest=true)}" aria-label="Next">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</div>
<div class="d-flex justify-content-center" aria-label="Navigation message">
    <p th:text="'Page: ' + (${gardensPage.number + 1})"></p>
</div>
<div class="d-flex justify-content-center" aria-label="Navigation message">
    <p th:text="${paginationMessage}"></p>
</div>
</body>
<script th:src="@{/javascript/tagAutocomplete.js}"></script>
<script>
    document.getElementById("add-tag").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("add-tag").click();
        }
    });

</script>
</html>