<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragmentExample/fragments/bootstrap.html}"></div>
<div th:each="garden : ${gardensPage.content}">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="card-title" th:text="${garden.name}"></h5>
                </div>
            </div>
            <div class="row mt-auto">
                <div class="col-6 text-left">
                    <div style="display: flex; flex-direction: row; justify-content: left; align-items: center">
                        <img class="avatar" th:src="@{${garden.gardener.profilePicture}}"/>
                        <p class="card-text" th:text="${garden.gardener.firstName} + ' ' + ${garden.gardener.lastName}"></p>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div style="display: flex; justify-content: right; margin-top: 8px;">
                        <p class="card-text" th:text="${garden.creationDate}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table>
    <tbody>
    <tr th:each="garden : ${gardensPage.content}">
        <td th:text="${garden.name}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${gardensPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/browseGardens(pageSize=${gardensPage.size}, pageNo=${pageNumber - 1})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==gardensPage.number + 1} ? active"></a>
</div>
</body>
</html>