<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Edit Plant</title>

</head>
<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div class="container mb-5">
    <div class="card mb-5 w-50">
        <h1> Edit Identified Plant </h1>
        <label class="fst-italic">* Required</label>
        <br/>
        <form id="editPlantForm" class="w-75 d-flex justify-content-center flex-column" th:action="@{edit(plantId=${plant.getId()})}" method="post" enctype="multipart/form-data">
            <label for="name"> *Name: </label>
            <input type="text" class="form-control" id="name" name="name" maxlength="64" th:value="${name != null ? name : plant.name}"
                   th:classappend="${nameError} ? 'is-invalid' : ''">
            <p th:if="${nameError}" th:utext="${nameError}" class="smallErrorMessage"></p>
            <br/>

            <label for="description"> Description: </label>
            <br/>
            <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
            <textarea class="form-control" id="description" name="description" th:classappend="${descriptionError} ? 'is-invalid' : ''" maxlength="512">[[${description != null ? description : plant.description}]]</textarea>

            <p th:if="${descriptionError}" th:utext="${descriptionError}" class="smallErrorMessage"></p>
            <br/>

            <div>
                <div style="display: flex; margin-top: 40px; justify-content: flex-end;">
                    <label class="LocationIQ-attribution">Search by LocationIQ.com</label>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="autocomplete-container" style="flex: 100%; margin-top: -20px;">
                        <label for="manualAddLocation"> Plant location: </label>
                        <input class="form-control" type="text" id="manualAddLocation" autocomplete="off" placeholder="Search the address here..."
                               th:name="location" th:value="${location != null ? location : savedLocation}" data-cy="location" autofocus
                               th:classappend="${locationError} ? 'is-invalid' : ''"
                        >
                        <span id="locationError" th:utext="${locationError == null ? '' : locationError}" class="smallErrorMessage"></span>
                        <p id="manualAddLocationUpdateMssg" class="smallErrorMessage"></p>
                        <div id="manual-add-autocomplete-results" style="margin-top: -1rem; " ></div>
                    </div>
                    <div>
                        <div class="form-check form-switch" style="margin-top: 1rem; " >
                            <input class="form-check-input" type="checkbox" name="manualAddLocationToggle" th:name="manualAddLocationToggle" role="switch" id="manualAddLocationToggle"  th:id="manualAddLocationToggle" th:checked="${manualAddLocationToggle}">
                            <label class="form-check-label" for="manualAddLocationToggle">Use current location</label>
                        </div>
                        <p id="manualAddGeolocationUpdateMssg" class="smallErrorMessage"></p>
                        <script>
                            document.getElementById('manualAddLocation').disabled = document.getElementById('manualAddLocationToggle').checked;
                            document.getElementById('manualAddLocationToggle').onchange = function () {
                                document.getElementById('manualAddLocation').disabled = this.checked;
                            };
                            document.getElementById('manualAddLocationToggle').addEventListener('keydown', function (event) {
                                if (event.key === 'Enter') {
                                    this.checked = !this.checked;
                                    document.getElementById('manualAddLocation').disabled = this.checked;
                                }
                            });
                        </script>

                    </div>
                </div>
                <br/>
            </div>
            <p>Click on the map to place a location marker</p>
            <div id="map" style="height: 300px" class="mb-3"></div>

            <input type="hidden" id="manualPlantLat" th:value="${manualPlantLat != null ? manualPlantLat : plant.plantLatitude}" name="manualPlantLat">
            <input type="hidden" id="manualPlantLon" th:value="${manualPlantLon != null ? manualPlantLon : plant.plantLongitude}" name="manualPlantLon">


            <button class="btn btn-success w-50 m-auto" type="submit">Submit</button>
            <a class="btn btn-secondary w-50 mt-3 m-auto" th:href="@{/collectionDetails(speciesName=${plant.getSpeciesScientificNameWithoutAuthor()})}">
                Cancel
            </a>
        </form>

    </div>
</div>

<script>
    document.getElementById("editPlantForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
<script type="text/javascript">
    //TODO: Fix the character count
    const txHeight = 16;
    const tx = document.getElementsByTagName("textarea");

    for (let i = 0; i < tx.length; i++) {
        if (tx[i].value === '') {
            tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        } else {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        }
        tx[i].addEventListener("input", OnInput, false);
        document.addEventListener('DOMContentLoaded', function() {
            updateCharacterCount();
        });
        document.addEventListener('input', function() {
            updateCharacterCount();
        });

    }

    function OnInput(e) {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + "px";
    }
    function updateCharacterCount() {
        var textarea = document.getElementById("description");
        var characterCount = document.getElementById("characterCount");
        characterCount.textContent = textarea.value.length;
    }

    const manualAddLocation = document.getElementById('manualAddLocation');
    const manualAddAutocompleteResults = document.getElementById('manual-add-autocomplete-results');
    const manualAddLocationUpdateMssg = document.getElementById("manualAddLocationUpdateMssg") || null;
    const manualAddGeolocationUpdateMssg = document.getElementById("manualAddGeolocationUpdateMssg");
    const manualPlantLat = document.getElementById('manualPlantLat');
    const manualPlantLon = document.getElementById('manualPlantLon');

    document.getElementById('manualAddLocationToggle').addEventListener('change', function() {

        if (this.checked) {
            manualAddGeolocationUpdateMssg.innerHTML = waitingSpinnerHtml;

            document.getElementById("locationError").innerText = "";
            document.getElementById("manualAddLocation").classList.remove("is-invalid");

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setMACoordinates, showMAError);
                disableMALocationInput(true);
            } else {
                manualAddGeolocationUpdateMssg.innerHTML = "Geolocation is not supported by this browser.";
                disableMALocationInput(false);
                manualPlantLat.dispatchEvent(new Event('change'));
            }
        } else {
            manualAddGeolocationUpdateMssg.innerHTML = '';
            disableMALocationInput(false);
            manualAddAutocompleteResults.style.display = 'block';
            manualPlantLat.dispatchEvent(new Event('change'));
        }
        manualAddGeolocationUpdateMssg.style.color = "green";

    });

    function showMAError(error) {
        document.getElementById('manualAddLocationToggle').checked = false;
        disableMALocationInput(false);
        manualAddAutocompleteResults.style.display = 'block';
        manualAddGeolocationUpdateMssg.style.color = "red";
        switch(error.code) {
            case error.PERMISSION_DENIED:
                manualAddGeolocationUpdateMssg.innerHTML = "Current Location permission denied."
                break;
            case error.POSITION_UNAVAILABLE:
                manualAddGeolocationUpdateMssg.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                manualAddGeolocationUpdateMssg.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                manualAddGeolocationUpdateMssg.innerHTML = "An unknown error occurred."
                break;
        }
        manualPlantLat.dispatchEvent(new Event('change'));
    }

    function setMACoordinates(position) {
        manualPlantLat.value = position.coords.latitude.toString();
        manualPlantLon.value = position.coords.longitude.toString();
        manualAddGeolocationUpdateMssg.innerHTML = 'Current location saved.';
        manualPlantLat.dispatchEvent(new Event('change'));
    }

    // when user clicks 'use current location', disable the input field for searching location.
    function disableMALocationInput(disable) {
        manualAddLocation.disabled = disable;
        if (disable) {
            manualAddLocationUpdateMssg.innerHTML = "";
            manualAddLocation.value = "";
            manualAddAutocompleteResults.style.display = 'none';
            manualAddAutocompleteResults.classList.remove('visible');
            manualAddLocation.classList.add('disabled');
        } else {
            manualAddLocation.classList.remove('disabled');
            manualPlantLat.value = '';
            manualPlantLon.value = '';
        }}





</script>
<script th:src="@{/javascript/locationAutocomplete.js}"></script>
<script th:src="@{/webjars/leaflet/1.9.4/dist/leaflet.js}"></script>
<script th:inline="javascript">
    /**
    * creates and initialises the map, also defines on click event that calls java code
    */

    var southWest = L.latLng(-55, 148.038821);
    var northEast = L.latLng(-28,200);
    var maxBoundArea = L.latLngBounds(southWest, northEast)
    var map = L.map('map', {
        center: [-43.5, 174.88],
        zoom: 4,
        maxBounds: maxBoundArea,
        minZoom: 4,
        maxZoom: 18
    });
    new L.TileLayer('https://tile.csse.canterbury.ac.nz/hot/{z}/{x}/{y}.png', { // UCs tilemap server
        attribution: '© OpenStreetMap contributors<br>Served by University of Canterbury'
    }).addTo(map);

    map.on('click', onClick);
    let marker = L.marker([document.getElementById("manualPlantLat").value, document.getElementById("manualPlantLon").value]).addTo(map);
    function onClick(e) {
        const selectedLat = e.latlng.lat;
        const selectedLon = e.latlng.lng;
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker([selectedLat, selectedLon]).addTo(map);
        document.getElementById('manualPlantLat').value = selectedLat;
        document.getElementById('manualPlantLon').value = selectedLon;
        document.getElementById("manualAddLocation").value = '';
        document.getElementById("manualAddLocationUpdateMssg").innerText = '';

    }

    document.getElementById("manualPlantLat").addEventListener("change", function() {
        if (marker) {
            map.removeLayer(marker);
        }

        if (this.value !== '') {
            const selectedLat = document.getElementById("manualPlantLat").value;
            const selectedLon = document.getElementById("manualPlantLon").value;
            marker = L.marker([selectedLat, selectedLon]).addTo(map);
        }
    });


</script>
</body>
</html>