<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Plant</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body>

<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div id="form">
    <h1> Edit Plant </h1>
    <form id="editPlantForm" th:action="@{edit(plantId=${plant.id})}" method="post" enctype="multipart/form-data">
        <label for="name"> Name: </label>
        <input type="text" class="form-control" id="name" name="name" maxlength="64" th:value="${name != null ? name : plant.name}"
               th:classappend="${nameError} ? 'error' : ''">
        <span th:if="${nameError}" th:text="${nameError}" style="color: red;"></span>
        <br/>
        <label for="count"> Plant Count: </label>
        <input type="text" class="form-control" id="count" name="count" maxlength="12" th:value="${count != null ? count : (plant.count != 0.0 ? plant.count : '')}"
               th:classappend="${countError} ? 'error' : ''">
        <span th:if="${countError}" th:text="${countError}" style="color: red;"></span>
        <br/>
        <label for="description"> Description: </label>
        <br/>
        <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
        <textarea class="form-control" id="description" name="description" th:classappend="${descriptionError} ? 'error' : ''" maxlength="512">[[${description != null ? description : plant.description}]]</textarea>

        <span th:if="${descriptionError}" th:text="${descriptionError}" style="color: red;"></span>
        <br/>
        <label for="datePlanted"> Date Planted: </label>
        <input type="date" class="form-control" th:value="${date != null ? date : formattedDate}" id="datePlanted" name="date">
        <span id="dateError" style="color: red;"></span>
        <script>
            document.getElementById( "datePlanted" ).addEventListener( "invalid",
                function( event ) {
                    event.preventDefault();
                    document.getElementById("datePlanted").style.border = "1px solid red";
                    document.getElementById("dateError").textContent = "Date is not in valid format, DD/MM/YYYY";
                });
        </script>
        <br/>
        <label for="image"> Image: </label>
        <div class="plant-image-container" id="image">
            <img th:src="@{plant.image}" alt="Plant" id="currentImage">
            <button type="button" class="image-button" onclick="document.getElementById('fileInput').click()">+</button>
            <input type="file" id="fileInput" name="file" style="display: none;" accept="image/*" onchange="handleImageChange()">
        </div>
        <span th:if="${uploadError}" th:text="${uploadError}" style="color: red;"></span>
        <br/>
        <button type="submit">Submit</button>
    </form>
    <a th:href="@{../../details(gardenId=${garden.id})}">
        <button>Cancel</button>
    </a>
</div>
<script>
    document.getElementById("editPlantForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "date" || activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });

    // used ChatGPT to help write this function
    function handleImageChange() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('currentImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }
</script>
<script type="text/javascript">
    const txHeight = 16;
    const tx = document.getElementsByTagName("textarea");

    for (let i = 0; i < tx.length; i++) {
        if (tx[i].value === '') {
            tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        } else {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        }
        tx[i].addEventListener("input", OnInput, false);
        document.addEventListener('DOMContentLoaded', function() {
            updateCharacterCount();
        });
        document.addEventListener('input', function() {
            updateCharacterCount();
        });

    }

    function OnInput(e) {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + "px";
    }
    function updateCharacterCount() {
        var textarea = document.getElementById("description");
        var characterCount = document.getElementById("characterCount");
        characterCount.textContent = textarea.value.length;
    }
</script>
</body>
</html>