<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Garden</title>
    <link  th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body>

<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div>
    <div id="form">
        <h1> Edit Garden </h1>
        <form id="editGardenForm" th:action="@{edit(gardenId=${garden.id})}" method="post">
            <label for="name"> Name: </label>
            <input type="text" class="form-control" id="name" th:value="${garden.name}"
                   th:name="name" maxlength="64" data-cy="name" autofocus
                   th:classappend="${nameError} ? 'error' : ''">
            <span th:if="${nameError}" th:text="${nameError}" class="smallErrorMessage"></span>
            <br/>
            <label for="location"> Garden Location: </label>
            <input type="text" class="form-control" id="location" th:value="${garden.location}"
                   th:name="location"  maxlength="128" data-cy="location" autofocus
                   th:classappend="${locationError} ? 'error' : ''">
            <span th:if="${locationError}" th:text="${locationError}" class="smallErrorMessage"></span>
            <br/>
            <label for="size"> Size (m<sup>2</sup>): </label>
            <input type="text" class="form-control" id="size" th:name="size" maxlength="12"
                   th:value="${garden.size != 0.0 ? garden.size : ''}" data-cy="size" autofocus
                   th:classappend="${sizeError} ? 'error' : ''">
            <span th:if="${sizeError}" th:text="${sizeError}" class="smallErrorMessage"></span>
            <br/>
            <label for="description"> Description: </label>
            <input type="text" class="form-control" id="description" th:name="description" maxlength="512"
                   th:value="${garden.description}" data-cy="size" autofocus
                   th:classappend="${descriptionError} ? 'error' : ''">
            <span th:if="${descriptionError}" th:text="${descriptionError}" class="smallErrorMessage"></span>
            <br />
            <button type="submit">Submit</button>
        </form>
        <a th:href="@{../gardens/details(gardenId=${garden.id})}">
            <button>Cancel</button>
        </a>
    </div>
    <script>
        document.getElementById("editGardenForm").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                var activeElement = document.activeElement;
                if (activeElement.id === "size" || activeElement.tagName === "BUTTON") {
                    return true;
                } else {
                    event.preventDefault();
                }
            }
        });
    </script>
</div>
</body>
</html>