<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Edit Garden</title>
</head>
<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div class="container mb-5">
    <div class="card w-100 mb-5">
        <h1> Edit Garden </h1>
        <form class="w-100" id="editGardenForm" th:action="@{edit(gardenId=${garden.id})}" method="post">
            <div class="create-garden-row">
                <div>
                    <label for="name"> Name: </label>
                    <input type="text" class="garden-form-control" id="name" maxlength="64" placeholder="Name"
                           th:name="name" th:value="*{name}" data-cy="name" autofocus
                           th:classappend="${nameError} ? 'error' : ''">
                    <span th:if="${nameError}" th:utext="${nameError}" class="smallErrorMessage"></span>
                </div>
                <div>
                    <label for="size"> Size (m<sup>2</sup>): </label>
                    <input type="text" class="garden-form-control" id="size" maxlength="12" placeholder=""
                           th:name="size" th:value="*{size}" data-cy="size" autofocus
                           th:classappend="${sizeError} ? 'error' : ''">
                    <span th:if="${sizeError}" th:utext="${sizeError}" class="smallErrorMessage"></span>
                </div>
            </div>


            <div>
                <br/>
                <label for="description"> Description:</label>
                <br/>
                <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
                <textarea class="garden-form-control" id="description" maxlength="512" placeholder=""
                       th:name="description" th:value="*{description}" data-cy="description" autofocus
                       th:classappend="${descriptionError} ? 'error' : ''">[[${description != null ? description : garden.description}]]</textarea>
                <span th:if="${descriptionError}" th:utext="${descriptionError}" class="smallErrorMessage"></span>
            </div>
            <div style="display: flex; margin-top: 40px; justify-content: flex-end;">
                <label class="LocationIQ-attribution">Search by LocationIQ.com</label>
            </div>
            <div style="display: flex;">
                <div class="autocomplete-container" style="flex: 100%; margin-top: -20px;">
                    <label for="location"> Address: </label>
                    <input class="garden-form-control" type="text" id="location" maxlength="128" placeholder="Start typing your address..."
                           th:name="location" th:value="*{location}" data-cy="location" autofocus
                           th:classappend="${locationError} ? 'error' : ''"
                    >
                    <span th:if="${locationError}" th:utext="${locationError}" class="smallErrorMessage"></span>
                    <div class="autocomplete-results" id="autocomplete-results"></div>
                </div>
                <br/>
            </div>



            <div class="autocomplete-container">
                <br/>
                <div class="create-garden-row">
                    <div>
                        <label for="suburb">Suburb:</label>
                        <input class="garden-form-control" type="text" id="suburb" th:name="suburb" th:value="*{suburb}"
                               th:classappend="${suburbError} ? 'error' : ''">
                        <span th:if="${suburbError}" th:utext="${suburbError}" class="smallErrorMessage"></span>
                    </div>
                    <div>
                        <label for="city">City:</label>
                        <input class="garden-form-control" type="text" id="city" th:name="city" th:value="*{city}"
                               th:classappend="${cityError} ? 'error' : ''">
                        <span th:if="${cityError}" th:utext="${cityError}" class="smallErrorMessage"></span>
                    </div>
                </div>
                <br/>
                <div class="create-garden-row">
                    <div>
                        <label for="country">Country:</label>
                        <input class="garden-form-control" type="text" id="country" th:name="country" th:value="*{country}"
                               th:classappend="${countryError} ? 'error' : ''">
                        <span th:if="${countryError}" th:utext="${countryError}" class="smallErrorMessage"></span>
                    </div>
                    <div>
                        <label for="postcode">Postcode:</label>
                        <input class="garden-form-control" type="text" id="postcode" th:name="postcode" th:value="*{postcode}"
                               th:classappend="${postcodeError} ? 'error' : ''">
                        <span th:if="${postcodeError}" th:utext="${postcodeError}" class="smallErrorMessage"></span>
                    </div>
                </div>
                <br/>
            </div>
            <div style="display: flex; justify-content: center;">
                <button class="btn btn-success w-50 mt-3" type="submit">Submit</button>
            </div>

        </form>
        <a class="btn btn-secondary w-50 mt-3" th:href="@{../gardens/details(gardenId=${garden.id})}">
            Cancel
        </a>
    </div>
    <script th:src="@{/javascript/locationAutocomplete.js}"></script>
    <script>
        document.getElementById("editGardenForm").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                var activeElement = document.activeElement;
                if (activeElement.id === "size" || activeElement.tagName === "BUTTON") {
                    return true;
                } else {
                    event.preventDefault();
                }
            }
        });
    </script>

    <script type="text/javascript">
        const txHeight = 16;
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            if (tx[i].value === '') {
                tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
            } else {
                tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
            }
            tx[i].addEventListener("input", OnInput, false);
            document.addEventListener('DOMContentLoaded', function() {
                updateCharacterCount();
            });
            document.addEventListener('input', function() {
                updateCharacterCount();
            });

        }

        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + "px";
        }
        function updateCharacterCount() {
            var textarea = document.getElementById("description");
            var characterCount = document.getElementById("characterCount");
            characterCount.textContent = textarea.value.length;
        }
    </script>
</div>
</body>
</html>