<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Forgot Password</title>
</head>

<body>
<link rel="icon" th:href='@{/images/icons/favicon.svg}' type="image/x-icon"> <!-- Favicon!-->
<div class="container">
    <div class="header-container text-center">
        <img th:src="@{/images/icons/favicon.svg}" alt="logo" class="logo"/>
        <h1 class="title">Gardeners Grove</h1>
    </div>
    <div class="card w-50">
        <h1>Forgot password?</h1>
        <p>Enter your email address to reset your password</p>
        <form method="post" th:action="@{/forgotPassword}" class="needs-validation" novalidate>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <p th:if="${returnMessage}" class="alert" th:text="${returnMessage}"></p>

            <div class="d-flex flex-column align-items-center">
                <div class="form-group field">
                    <label class="input">
                        <input name="email" placeholder="Email" type="text" maxlength="320" class="form-control form-field"
                               th:classappend="${emailError} ? 'is-invalid' : ''"/>
                        <span class="form-label">Email</span>
                    </label>
                </div>

                <span th:if="${emailError}" th:text="${emailError}" class="smallErrorMessage"></span>
                <p class="errorMessage" th:if="${param.error}" data-th-text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>

                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                <a th:href="@{login}" class="btn-link">Return to Login</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>