<!DOCTYPE html>
<html lang="en-uk">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Garden Details</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>

<div class="garden-details-container">
    <div class="container" style="margin: 0; width: 1200px">
        <div class="row w-100" >
            <div class="col-6 flex-row d-flex">
                <h1 class="text-black break-words overflow-wrap-anywhere text-break mb-2" style="min-width: 0;">
                    <span th:text="${garden.name}"></span>
                </h1>
            </div>
            <div class="col-6 flex-row-reverse d-flex">
                <div>
                    <a th:href="@{../gardens/edit(gardenId=${garden.id})}" class="btn btn-primary m-2 mw-50 min-w-25 h-60" style="width:100%;" role="button">Edit
                        Garden</a>
                </div>
                <div class="public-checkbox-container">
                    <form method="post" th:action="@{../gardens/details(gardenId=${garden.id})}" id="garden-details-form">
                        <label id="public-checkbox-label">Make my garden public</label>
                        <input class="form-check-input" data-cy="isGardenPublic" id="isGardenPublic" name="isGardenPublic" type="checkbox"
                               onchange="document.getElementById('garden-details-form').submit()"/>

                        <script th:inline="javascript">
                            // Credit: https://stackoverflow.com/questions/31771821/thymeleaf-how-to-add-conditional-block-in-javascript
                            let isGardenPublic = [[${garden.isGardenPublic}]];
                            document.getElementById("isGardenPublic").checked = isGardenPublic;
                        </script>
                    </form>
                </div>



            </div>


        </div>
        <div class="row w-100">

            <p><strong>Location:</strong> <span class="text-black break-words overflow-wrap-anywhere text-break mb-2" style="min-width: 0;" th:text="${garden.getFullLocation()}"></span></p>
            <p>
                <strong>Size:</strong> <span th:if="${garden.size != null}"
                                             th:text="${garden.size + ' m&sup2;'}"></span>
            </p>
            <p><strong>Description:</strong> <span class="text-black break-words overflow-wrap-anywhere text-break mb-2" style="min-width: 0;" th:text="${garden.description}"></span></p>

            <div id="tag-container">
                <strong>Tags:</strong>
                <div th:if="${tags != null}" th:each="tag : ${tags}">
                    <div id="tag">
                        <span th:text="${tag}"></span>
                    </div>
                </div>
                <a id="add-tag" th:style="${tag != null} ? 'display: none;' : 'display: block;'"
                   onclick="transformToInput()" tabindex="13">
                    <img class="nav-link" src="../images/icons/add_circle_white.png" alt="Add Circle">
                </a>
                <form id="hidden-tag-form" method="post" autocomplete="off" th:action="@{addTag}">
                    <input type="text" id="tag-input" list="tagList" autocomplete="off"
                           th:value="${tag != null ? tag : ''}"
                           th:style="${tag != null} ? 'display: block;' : 'display: none;'"
                           placeholder="Add tag..." maxlength="50" onkeydown="submitTagOnEnter(event)" autofocus
                           class="form-control"
                           th:classappend="${((tagValid != '' && tagValid != null) || (tagWarning != '' && tagWarning != null)) ? 'error' : ''}"
                           tabindex="14">
                    <input type="hidden" name="tag-input" id="hidden-tag-input">
                    <input type="hidden" name="gardenId" th:value="${garden.id}">
                    <datalist id="tagList">
                        <option th:each="tag : ${allTags}" th:value="${tag}" th:text="${tag}"></option>
                    </datalist>
                </form>
                <a id="submit-tag" th:style="${tag != null} ? 'display: block;' : 'display: none;'"
                   onclick="submitTag()" tabindex="15                   ">
                    <img class="nav-link" id="addTagIcon" alt="Add Circle">
                </a>
            </div>
            <div id="tag-error-container">
                <p class="tag-error-message" th:value="${tagValid}" th:utext="${tagValid}"></p>
                <p class="tag-error-message" id="tagWarning" th:value="${tagWarning}" th:utext="${tagWarning}"></p>
            </div>
        </div>


        <div class="row  w-100">
            <div class="col">
                <div id="location-error" th:if="${date == null}">Location not found, please update your location to see
                    the weather
                </div>
                <ul class="list-group list-group-horizontal justify-content-evenly align-items-center d-flex flex-wrap">
                    <li th:if="${date}">
                        <div class="card current col-md-6 col-sm-6 col-lg-6 col-xl-6 col-xxl-4 mb-4">
                            <div class="weather-display-row">
                                <br/>
                                <p th:text="${date}"></p>
                                <h3  th:text="${garden.city + ', ' + garden.country}"></h3>
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <h4 id="currentDate"></h4>

                                        <div class="temperature-container">
                                            <div class="weather-display-row">
                                                <div class="temperature-container">
                                                    <h3 class="temperature" th:text="${temperature}"></h3>
                                                    <span><sup style="font-weight: bold">&deg;C</sup></span>
                                                </div>

                                                <p th:text="${weatherDescription}"></p>
                                                <p th:text="${humidity} + '%' + ' Humidity'"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <img class="card-img-top img-fluid" alt="No image available" th:src="'https:' + ${weatherImage}" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>


                    <li class="future-weather weather-display-container d-flex flex-wrap" th:each="forecastMinTemp, iter: ${forecastMinTemperature}">
                        <div class="card forecast col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 mb-4">
                            <img class="card-img-top" alt="No image available"
                                 th:src="'https:' + ${forecastWeatherImage.get(iter.index)}"/>

                            <div class="weather-display-row">
                                <p th:text="${forecastDates.get(iter.index)}"></p>
                                <h4 th:id="${(iter.index)}" onload=getDay()></h4>
                                <div class="temperature-container">
                                    <div class="weather-display-row">
                                        <div class="temperature-container">
                                            <h5>Low</h5>
                                            <h4 class="temperature" th:text="${forecastMinTemp}"></h4>
                                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                                        </div>
                                        <div class="temperature-container">
                                            <h5>High</h5>
                                            <h4 class="temperature"
                                                th:text="${forecastMaxTemperature.get(iter.index)}"></h4>
                                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                                        </div>

                                        <p th:text="${forecastWeatherDescription.get(iter.index)}"></p>
                                        <p th:text="${forecastHumidities.get(iter.index)} + '%' + ' Humidity'"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row w-100">
            <br/>
            <h4>Plants:</h4>
            <a th:href="@{../gardens/details/plants/form(gardenId=${garden.id})}" class="btn btn-primary m-2 w-auto"
               role="button">Add New Plant</a>
            <div class="plant-list-container" th:if="${not #lists.isEmpty(garden.plants)}">
                <table class="table table-primary">
                    <thead class="thead-light">
                    <tr>
                        <th>NAME</th>
                        <th>IMAGE</th>
                        <th>COUNT</th>
                        <th>DESCRIPTION</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plant: ${garden.plants}">
                        <td class="break-words overflow-wrap-anywhere text-break mb-2" th:text="${plant.name}"></td>
                        <td>
                            <div class="plant-image-container" id="image">
                                <form class="plant-image-container" enctype="multipart/form-data"
                                      method="post" th:action="@{../gardens/details/plants/image}"
                                      th:id="'uploadPlantForm_' + ${plant.id}">
                                    <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                    <img alt="Plant" th:id="'currentImage_' + ${plant.id}" th:src="@{${plant.image}}">
                                    <button class="image-button"
                                            th:onclick="'handleImageClick(\'' + ${plant.id} + '\');'"
                                            type="button">+
                                    </button>
                                    <input accept="image/*" name="file" style="display: none;"
                                           th:id="'fileInput_' + ${plant.id}"
                                           th:onchange="'handleImageChange(\'' + ${plant.id} + '\');'" type="file">
                                </form>
                            </div>
                            <span class="errorMessage" th:if="${uploadError} and ${plant.id} == ${errorId}"
                                  th:text="${uploadError}"></span>
                        </td>
                        <td th:if="${plant.count !=0}" th:text="${plant.count}"></td>
                        <td th:if="${plant.count == 0}"></td>
                        <td class="break-words overflow-wrap-anywhere text-break mb-2" th:text="${plant.description}"></td>
                        <td>
                            <form method="get" th:action="@{../gardens/details/plants/edit}">
                                <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                                <button class="btn btn-primary" role="button" style="min-width: 70px" type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="notification" class="notification" th:if="${wateringTip}">
            <p th:text="${wateringTip}"></p>
            <form id="lastNotifiedForm" method="post" th:action="@{../gardens/details/dismissNotification}">
                <input th:name="gardenId" th:value="${garden.id}" type="hidden">
                <button type="submit" onclick="closeNotification()" class="close-button">x</button>
            </form>
        </div>
    </div>

    <div id="warningModal" class="modal fade" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warningModalLabel">Oops!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id = "modalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Ok!</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/javascript/tagAutocomplete.js}"></script>

<script type="module">

    document.getElementById("add-tag").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("add-tag").click();
        }
    });


    window.onload = function () {
        const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const d = new Date();
        const day = weekday[d.getDay()];
        document.getElementById("currentDate").innerText = day;
        for (let i = 0; i <= 2; i++) {
            let d = new Date();
            d.setDate(d.getDate() + i);
            const day = weekday[d.getDay()];
            document.getElementById(i.toString()).innerText = day;
        }
    }

    function getDay(date) {
        const weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const day = weekday[date.getDay()];
        document.getElementById(date).innerText = day;
    }

    function closeNotification() {
        document.getElementById('notification').style.display = 'none';
    }

    function openModal(message) {
        let myModal = new bootstrap.Modal(document.getElementById('warningModal'));
        document.getElementById('modalBody').innerText = message;
        myModal.show();

    }
        document.addEventListener('DOMContentLoaded', function() {
            var tagWarningElement = document.getElementById('tagWarning');
            var tagWarning = tagWarningElement ? tagWarningElement.textContent.trim() : '';

            if (tagWarning === "You have added an inappropriate tag for the fifth time. If you add one more, your account will be blocked for one week.") {
                openModal(tagWarning);
            }
    });

    const addTagIcon = document.getElementById("addTagIcon");

    function getBaseUrl() {
        const path = window.location.pathname.split('/');
        if (path[1] === 'test') {
            return '/test';
        } else if (path[1] === 'prod') {
            return '/prod';
        }
        return '';

    }

    addTagIcon.src = `${getBaseUrl()}/images/icons/add_circle_white.png`


</script>

<script>
    // do not delete
    // note: these are being used to open the plant image
    function handleImageClick(plantId) {
        document.getElementById('fileInput_' + plantId).click();
    }

    function handleImageChange(plantId) {
        document.getElementById('uploadPlantForm_' + plantId).submit();
    }
</script>

</body>
</html>

