<!DOCTYPE html>
<html lang="en-uk">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Garden Details</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div id="location-error" th:if="${date == null}">Location not found, please update your location to see the weather
</div>
<div class="garden-details-container">
    <div class="container" style="margin: 0; width: 1200px">
        <h1 class="garden-details-links">Garden Details</h1>

        <div class="left-details-container">
            <p><strong>Name:</strong> <span th:text="${garden.name}"></span></p>
            <p><strong>Location:</strong> <span th:text="${garden.getFullLocation()}"></span></p>
            <p>
                <strong>Size:</strong> <span th:if="${garden.size != null}" th:text="${garden.size + ' m^2'}"></span>
            </p>
            <p><strong>Description:</strong> <span th:text="${garden.description}"></span></p>
            <div id="tag-container">
                <strong>Tags:</strong>
                <div th:if="${tags != null}" th:each="tag : ${tags}">
                    <div id="tag">
                        <span th:text="${tag}"></span>
                    </div>
                </div>
                <a id="add-tag" th:style="${tag != null} ? 'display: none;' : 'display: block;'"
                   onclick="transformToInput()">+</a>
                <form id="hidden-tag-form" method="post" autocomplete="off" th:action="@{addTag}">
                    <input type="text" id="tag-input" list="tagList" autocomplete="off" th:value="${tag != null ? tag : ''}"
                           th:style="${tag != null} ? 'display: block;' : 'display: none;'" placeholder="Add tag..."
                           maxlength="25" onkeydown="submitTagOnEnter(event)" autofocus
                           th:classappend="${(tagValid != '' && tagValid != null) ? 'error' : ''}">
                    <input type="hidden" name="tag-input" id="hidden-tag-input">
                    <input type="hidden" name="gardenId" th:value="${garden.id}">
                    <datalist id="tagList">
                        <option th:each="tag : ${allTags}" th:value="${tag}" th:text="${tag}"></option>
                    </datalist>
                </form>
                <a id="submit-tag" th:style="${tag != null} ? 'display: block;' : 'display: none;'"
                   onclick="submitTag()">+</a>
            </div>
            <div id="tag-error-container">
                <p class="tag-error-message" th:value="${tagValid}" th:utext="${tagValid}"></p>
                <p class="tag-error-message" id="tagWarning" th:value="${tagWarning}" th:utext="${tagWarning}"></p>
            </div>
        </div>

        <div class="right-details-container">
            <h1 class="garden-details-links">
                <a th:href="@{../gardens/edit(gardenId=${garden.id})}" class="edit-garden-button">Edit Garden</a>
                <a th:href="@{../gardens/details/plants/form(gardenId=${garden.id})}" class="add-plant-button">Add New
                    Plant</a>
            </h1>
            <div class="public-checkbox-container">
                <form method="post" th:action="@{../gardens/details(gardenId=${garden.id})}" id="garden-details-form">
                    <label for="isGardenPublic" id="public-checkbox-label">Make my garden public</label>
                    <input class="form-control" data-cy="isGardenPublic" id="isGardenPublic" name="isGardenPublic"
                           th:id="isGardenPublic" th:name="isGardenPublic" type="checkbox"
                           onchange="document.getElementById('garden-details-form').submit()"/>

                    <script th:inline="javascript">
                        // Credit: https://stackoverflow.com/questions/31771821/thymeleaf-how-to-add-conditional-block-in-javascript
                        let isGardenPublic = [[${garden.isGardenPublic}]];
                        document.getElementById("isGardenPublic").checked = isGardenPublic;
                    </script>

                </form>
            </div>
        </div>

        <h4>Plants:</h4>
        <div class="plant-list-container" th:if="${not #lists.isEmpty(garden.plants)}">
            <table class="plant-table">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>IMAGE</th>
                    <th>COUNT</th>
                    <th>DESCRIPTION</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plant: ${garden.plants}">
                    <td th:text="${plant.name}"></td>
                    <td>
                        <div class="plant-image-container" id="image">
                            <form class="plant-image-container" enctype="multipart/form-data"
                                  method="post" th:action="@{../gardens/details/plants/image}"
                                  th:id="'uploadPlantForm_' + ${plant.id}">
                                <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                <img alt="Plant" th:id="'currentImage_' + ${plant.id}" th:src="@{${plant.image}}">
                                <button class="image-button" th:onclick="'handleImageClick(\'' + ${plant.id} + '\');'"
                                        type="button">+
                                </button>
                                <input accept="image/*" name="file" style="display: none;"
                                       th:id="'fileInput_' + ${plant.id}"
                                       th:onchange="'handleImageChange(\'' + ${plant.id} + '\');'" type="file">
                            </form>
                        </div>
                        <span class="errorMessage" th:if="${uploadError} and ${plant.id} == ${errorId}"
                              th:text="${uploadError}"></span>
                    </td>
                    <td th:if="${plant.count !=0}" th:text="${plant.count}"></td>
                    <td th:if="${plant.count == 0}"></td>
                    <td th:text="${plant.description}"></td>
                    <td>
                        <form method="get" th:action="@{../gardens/details/plants/edit}">
                            <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                            <button class="button" type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="weather-information" th:if="${date}">
        <div class="weather-display-container">
            <div class="weather-display-row">
                <h3 th:text="${garden.city + ', ' + garden.country}"></h3>
                <h4 id="currentDate"></h4>
                <p th:text="${date}"></p>
                <div class="temperature-container">
                    <div class="weather-display-row">
                        <div class="temperature-container">
                            <h3 class="temperature" th:text="${temperature}"></h3>
                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                        </div>
                        <br>
                        <p th:text="${weatherDescription}"></p>
                        <p th:text="${humidity} + '%' + ' Humidity'"></p>
                    </div>
                    <img alt="No image available" th:src="'https:' + ${weatherImage}"/>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div style="text-align: center;"><h2>Next 3 days:</h2></div>
        <div class="future-weather weather-display-container" th:each="forecastMinTemp, iter: ${forecastMinTemperature}">
            <div class="weather-display-row">
                <p th:text="${forecastDates.get(iter.index)}"></p>
                <h4 th:id="${(iter.index)}" onload=getDay()></h4>
                <div class="temperature-container">
                    <div class="weather-display-row">
                        <div class="temperature-container">
                            <h5>Low</h5>
                            <h4 class="temperature" th:text="${forecastMinTemp}"></h4>
                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                        </div>
                        <div class="temperature-container">
                            <h5>High</h5>
                            <h4 class="temperature" th:text="${forecastMaxTemperature.get(iter.index)}"></h4>
                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                        </div>
                        <br>
                        <p th:text="${forecastWeatherDescription.get(iter.index)}"></p>
                        <p th:text="${forecastHumidities.get(iter.index)} + '%' + ' Humidity'"></p>
                    </div>
                </div>
            </div>
            <img alt="No image available" th:src="'https:' + ${forecastWeatherImage.get(iter.index)}"/>
            <div>
            </div>
        </div>
    </div>
    <div id="notification" class="notification" th:if="${wateringTip}">
        <p th:text="${wateringTip}"></p>
        <form id="lastNotifiedForm" method="post" th:action="@{../gardens/details/dismissNotification}">
            <input th:name="gardenId" th:value="${garden.id}" type="hidden">
            <button type="submit" onclick="closeNotification()" class="close-button">x</button>
        </form>
    </div>

    <div id="warningModal" class="modal">
        <div class="modal-content">
            <h2>Oopps!!!</h2>
            <p id="modalMessage"></p>
            <button class="close-btn" onclick="closeModal()">Ok! I got it!</button>
        </div>
    </div>
</div>



<script th:src="@{/javascript/tagAutocomplete.js}"></script>

<script>

    window.onload = function () {
        const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        const d = new Date();
        const day = weekday[d.getDay()];
        document.getElementById("currentDate").innerText = day;
        for(let i = 0; i <= 2 ; i++) {
            let d = new Date();
            d.setDate(d.getDate() + i);
            const day = weekday[d.getDay()];
            document.getElementById(i.toString()).innerText = day;
        }
    }

    function getDay(date) {
        const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        const day = weekday[date.getDay()];
        document.getElementById(date).innerText = day;
    }

    function closeNotification() {
        document.getElementById('notification').style.display = 'none';
    }


    var modal = document.getElementById("warningModal");
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function closeModal() {
        document.getElementById('warningModal').style.display = 'none';
    }
    function openModal(message) {
        document.getElementById('modalMessage').textContent = message;
        document.getElementById('warningModal').style.display = 'block';
    }
    document.addEventListener('DOMContentLoaded', function() {
        var tagWarningElement = document.getElementById('tagWarning');
        var tagWarning = tagWarningElement ? tagWarningElement.textContent.trim() : '';
        console.log('Tag Warning:', tagWarning);

        if (tagWarning === "You have added an inappropriate tag for the fifth time. If you add one more, your account will be blocked for one week.") {
            openModal(tagWarning);
        }
    });

</script>

</body>
</html>

