<!DOCTYPE html>
<html lang="en-uk">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" >
    <title>Garden Details</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>

<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div id="location-error" th:if="${date == null}">Location not found, please update your location to see the weather
</div>
<div class="garden-details-container">
    <div class="container" style="margin: 0; width: 1200px">
        <h1 class="garden-details-links">Garden Details
            <a class="edit-garden-button" th:href="@{../gardens/edit(gardenId=${garden.id})}">Edit Garden</a>
            <a class="add-plant-button" th:href="@{../gardens/details/plants/form(gardenId=${garden.id})}">Add New
                Plant</a>
            <a class="add-tag-button" onclick=displayAddTagsModal(true)>Add Tags</a>
        </h1>

        <div aria-hidden="true" class="modal" id="add-tag-modal"
             th:style="${tagValid != null} ? 'display: block;' : ''">
            <div class="add-tags">
                <div class="header">
                    <button class="close" onclick="displayAddTagsModal(false)">&times;</button>
                    <div class="search-table-header">
                        <h3>Add Tags</h3>
                    </div>
                </div>
                <div class="input-search-bar">
                    <form id="tagForm" autocomplete="off" class="search-bar" method="post" th:action="@{addTag}">
                        <input th:name="tag-input" id="tag-input" type="text" placeholder="Add tag..." maxlength="25"
                               th:classappend="${(tagValid != '' && tagValid != null) ? 'error' : ''}">
                        <input th:name="gardenId" th:value="${garden.id}" type="hidden">
                        <datalist id="tagList">
                            <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag}" ></option>
                        </datalist>
                        <button id="search-button" type="submit">Submit</button>
                    </form>
                    <br/>
                    <p class="smallErrorMessage" th:text="${tagValid}"></p>
                </div>
                <div>
                    <span id="tagError" th:if="${tagError}" th:text="${tagError}" class="smallErrorMessage"></span>
                </div>
            </div>
        </div>

        <div class="garden-details">
            <p><strong>Name:</strong> <span th:text="${garden.name}"></span></p>
            <p><strong>Location:</strong> <span th:text="${garden.location}"></span></p>
            <p>
                <strong>Size:</strong> <span th:if="${garden.size != null}" th:text="${garden.size + ' m^2'}"></span>
            </p>
            <div id="tag-container">
                <strong>Tags:</strong>
                <div th:if="${tags != null}" th:each="tag : ${tags}">
                    <div id="tag">
                        <span th:text="${tag}"></span>
                    </div>
                </div>
            </div>
        </div>
        <h4>Plants:</h4>
        <div class="plant-list-container" th:if="${not #lists.isEmpty(garden.plants)}">
            <table class="plant-table">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>IMAGE</th>
                    <th>COUNT</th>
                    <th>DESCRIPTION</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plant: ${garden.plants}">
                    <td th:text="${plant.name}"></td>
                    <td>
                        <div class="plant-image-container" id="image">
                            <form class="plant-image-container" enctype="multipart/form-data"
                                  method="post" th:action="@{../gardens/details/plants/image}"
                                  th:id="'uploadPlantForm_' + ${plant.id}">
                                <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                <img alt="Plant" th:id="'currentImage_' + ${plant.id}" th:src="@{${plant.image}}">
                                <button class="image-button" th:onclick="'handleImageClick(\'' + ${plant.id} + '\');'"
                                        type="button">+
                                </button>
                                <input accept="image/*" name="file" style="display: none;"
                                       th:id="'fileInput_' + ${plant.id}"
                                       th:onchange="'handleImageChange(\'' + ${plant.id} + '\');'" type="file">
                            </form>
                        </div>
                        <span class="errorMessage" th:if="${uploadError} and ${plant.id} == ${errorId}"
                              th:text="${uploadError}"></span>
                    </td>
                    <td th:if="${plant.count !=0}" th:text="${plant.count}"></td>
                    <td th:if="${plant.count == 0}"></td>
                    <td th:text="${plant.description}"></td>
                    <td>
                        <form method="get" th:action="@{../gardens/details/plants/edit}">
                            <input th:name="plantId" th:value="${plant.id}" type="hidden"/>
                            <button class="button" type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="weather-information" th:if="${date}">
        <div class="weather-display-container">
            <div class="weather-display-row">
                <h3 th:text="${garden.location}"></h3>
                <p th:text="${date}"></p>
                <div class="temperature-container">
                    <div class="weather-display-row">
                        <div class="temperature-container">
                            <h2 class="temperature" th:text="${temperature}"></h2>
                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                        </div>
                        <p th:text="${weatherDescription}"></p>
                        <p th:text="${humidity} + '%' + ' Humidity'"></p>
                    </div>
                    <img alt="No image available" th:src="${weatherImage}"/>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div style="text-align: center;"><h2>Next 3 days:</h2></div>
        <div class="future-weather weather-display-container" th:each="forecastTemp, iter: ${forecastTemperature}">
            <div class="weather-display-row">
                <p th:text="${forecastDates.get(iter.index)}"></p>
                <div class="temperature-container">
                    <div class="weather-display-row">
                        <div class="temperature-container">
                            <h3 class="temperature" th:text="${forecastTemp}"></h3>
                            <span><sup style="font-weight: bold">&deg;C</sup></span>
                        </div>
                        <p th:text="${forecastWeatherDescription.get(iter.index)}"></p>
                        <p th:text="${forcastHumidities.get(iter.index)} + '%' + ' Humidity'"></p>
                    </div>
                </div>
            </div>
            <img alt="No image available" th:src="'https:' + ${forecastWeatherImage.get(iter.index)}"/>
            <div>
            </div>
        </div>
    </div>
</div>
<script>
    function handleImageClick(plantId) {
        document.getElementById('fileInput_' + plantId).click();
    }

    function handleImageChange(plantId) {
        document.getElementById('uploadPlantForm_' + plantId).submit();
    }

    const currentDate = new Date();
    const dateOptions = {
        weekday: 'long',
        day: 'numeric',
        month: 'long',
        year: 'numeric'
    };
    document.getElementById("currentDateDisplay").innerHTML = currentDate.toLocaleString("en-Nz", dateOptions);

    //referenced ChatGPT for this part.
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const showModal = urlParams.get('showModal');
        if (showModal === 'true') {
            displayAddTagsModal(true);
        }
    });

    function displayAddTagsModal(show) {
        const addTagsModal = document.getElementById("add-tag-modal");
        if (show) {
            addTagsModal.style.display = "block";
            updateQueryStringParameter('showModal', 'true');
        } else {
            addTagsModal.style.display = "none";
            updateQueryStringParameter('showModal', 'false');
        }
    }

    // referenced ChatGPT for this part.
    function updateQueryStringParameter(key, value) {
        const url = new URL(window.location);
        if (value === 'false') {
            url.searchParams.delete(key);
        } else {
            url.searchParams.set(key, value);
        }
        window.history.replaceState({}, '', url);
    }

</script>

</body>
</html>

