<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Gardens</title>
</head>
<body>


<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>

<div id="gardens_list">
    <h1 th:text="${gardener.firstName} + (${gardener.lastName != null}? ' ' + ${gardener.lastName} : '') + '\'s Gardens'"></h1>
    <th:block th:each="garden : ${gardens}">
        <div id = "garden-names">
            <a th:text="${garden.name}" th:href="@{/gardens/details(gardenId=${garden.id})}"></a>
        </div>

    </th:block>
</div>
</body>
</html>
