<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Please Log In</title>
</head>
<body>


<div class="container">
    <div class="header-container text-center">
        <img src="/images/placeholder.jpg" alt="logo" class="logo"/>
        <h1 class="title">Gardeners Grove</h1>
    </div>
    <div class="card">
        <h1 class="text-center">Please Log In</h1>
        <form id="loginForm" method="post" th:action="@{/login}" class="needs-validation" novalidate>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div th:if="${param.logout}" class="alert alert-info">
                <p>You have been logged out.</p>
            </div>
            <div th:if="${param.signedup}" class="alert alert-success">
                <p>Your account has been activated, please log in</p>
            </div>
            <div th:if="${param.expired}" id="error-message" class="alert alert-danger">
                <p>Reset password link has expired.</p>
            </div>

            <div class="d-flex flex-column align-items-center">
                <div class="form-group field">
                    <label class="input">
                        <input name="username" placeholder="Email" type="text" maxlength="320" class="form-control form-field"
                               th:classappend="${param.error} ? 'is-invalid' : ''" required/>
                        <span class="form-label">Email</span>
                    </label>
                </div>

                <div class="errorMessage" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
                <div class="form-group field">
                    <label class="input">
                        <input name="password" placeholder="Password" type="password" maxlength="255" class="form-control form-field" th:classappend="${param.error} ? 'is-invalid' : ''" required/>
                        <span class="form-label">Password</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Sign in</button>

                <a id="createAccount" th:href="@{register}" class="btn-link">Not Registered? Create an account</a>
                <a id="forgotPassword" th:href="@{forgotPassword}" class="btn-link">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("loginForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "password" || activeElement.type === "submit"
                || activeElement.id === "createAccount" || activeElement.id === "forgotPassword") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>
