<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Please Log In</title>
    <link th:href='@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}' rel='stylesheet'>
    <link href="/css/stylesheet.css" rel="stylesheet"> <!-- Reference to the external stylesheet -->
</head>
<body>
<div class="container">
    <div id="form" class="card">
        <h1 class="text-center">Please Log In</h1>
        <form id="loginForm" method="post" th:action="@{/login}" class="needs-validation" novalidate>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:if="${param.logout}" class="alert alert-info">
                <p>You have been logged out.</p>
            </div>
            <div th:if="${param.signedup}" class="alert alert-success">
                <p>Your account has been activated, please log in</p>
            </div>
            <div th:if="${param.expired}" id="error-message" class="alert alert-danger">
                <p>Reset password link has expired.</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="form-group">
                    <input name="username" placeholder="Username" type="text" maxlength="320" class="form-control" th:classappend="${param.error} ? 'is-invalid' : ''" required/>
                </div>
                <div class="form-group">
                    <input name="password" placeholder="Password" type="password" maxlength="255" class="form-control" th:classappend="${param.error} ? 'is-invalid' : ''" required/>
                    <div class="invalid-feedback" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Sign in</button>
                <a id="createAccount" th:href="@{register}" class="btn btn-link">Not Registered? Create an account</a>
                <a id="forgotPassword" th:href="@{forgotPassword}" class="btn btn-link">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<script href='/webjars/bootstrap/5.3.3/css/bootstrap.bundle.min.js'></script>
<script type="text/javascript">
    document.getElementById("loginForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "password" || activeElement.type === "submit"
                || activeElement.id === "createAccount" || activeElement.id === "forgotPassword") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>
