<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Home</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>

<div class="container">
    <div class="row" id="widget-container">
        <!-- Recently accessed gardens and Newest Plants -->
        <div class="col d-flex flex-column justify-content-between h-100" id='widget-box'>

            <div class="row" id="widget-small-boxes">
                <!-- Recently accessed gardens -->
                <div class="col-md-6 mb-4" th:classappend="${recentlyAccessedGardens != null and recentlyAccessedGardens == false} ? 'hidden'">
                    <div style="height: 35vh;" th:if="${recentlyAccessedGardens != null and recentlyAccessedGardens == true}"
                         th:insert="${'fragmentExample/fragments/' + mainPageLayout.widgetSmallOne + 'Widget.html'}"></div>
                </div>
                <!-- Newest Plants -->
                <div class="col-md-6 mb-4" th:classappend="${newestPlantsList != null and newestPlantsList == false} ? 'hidden'">
                    <div style="height: 35vh;" th:if="${newestPlantsList != null and newestPlantsList == true}"
                         th:insert="${'fragmentExample/fragments/' + mainPageLayout.widgetSmallTwo + 'Widget.html'}"></div>
                </div>
            </div>

            <div class="row" id="widget-wide" th:classappend="${friendsList != null and friendsList == false} ? 'hidden'">
                <!-- My Friend's List -->
                <div style="height: 35vh;" th:if="${friendsList != null and friendsList == true}"
                     th:insert="${'fragmentExample/fragments/' + mainPageLayout.widgetWide + 'Widget.html'}"></div>
            </div>
                <!-- This will appear when user unticked all the widgets -->
            <div class="row justify-content-center align-items-center" style="height:70vh"
                 th:if="${(recentlyAccessedGardens == null or recentlyAccessedGardens == false) and
                  (newestPlantsList == null or newestPlantsList == false) and
                  (friendsList == null or friendsList == false) and
                  (myGardensList == null or myGardensList == false)}">
                <div class="col-md-6 text-center">
                    <img th:src="@{/images/SunnyFabian.png}" alt="No widgets chosen" class="img-fluid mb-3" style="max-width: 200px;">
                    <h3>No widgets chosen</h3>
                    <p>Please select widgets from your settings to customize your main page.</p>
                </div>
            </div>

        </div>
        <!-- My Garden's List -->
        <div class="col-md-4 h-100" style="height:100%" id="widget-tall" th:classappend="${myGardensList != null and myGardensList == false} ? 'hidden'">
            <div style="height: 100%;" th:if="${myGardensList != null and myGardensList == true}"
                 th:insert="${'fragmentExample/fragments/' + mainPageLayout.widgetTall + 'Widget.html'}"></div>
        </div>
    </div>

</div>



<script th:inline="javascript">
    /*<![CDATA[*/
    // Thymeleaf variable injected into JavaScript
    const ordering = /*[[${ordering}]]*/ 'default';
    /*]]>*/

    function orderItems(ordering) {

        const order = ordering.split(' ');
        let container = document.getElementById('widget-container');
        let box = document.getElementById('widget-box');
        const tall = document.getElementById('widget-tall');
        const wide = document.getElementById('widget-wide');
        const smallBoxes = document.getElementById('widget-small-boxes')

        container.innerHTML = '';
        // if the 4th widget (the tall one) is first, move it to the left, otherwise leave it
        if (order[0] === '3') {
            container.appendChild(tall);
            container.appendChild(box);
        } else {
            container.appendChild(box);
            container.appendChild(tall);
        }

        // if the 3rd widget (the wide one) comes before the two boxes, move it above
        if (order.indexOf('2') < order.indexOf('1')) {
            box.appendChild(wide);
            box.appendChild(smallBoxes);
        } else {
            box.appendChild(smallBoxes);
            box.appendChild(wide);
        }
    }
    orderItems(ordering);
</script>
</body>
</html>
