<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Manage Friends</title>
    <link rel="stylesheet" th:href="@{~/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav th:insert="~{fragmentExample/fragments/nav.html}"></nav>
<h1>Manage Friends</h1>

<div class="searchBarContainer">
    <form id="searchForm" class="search" th:action="@{manageFriends}" method="post">
        <label for="searchGardeners"> Search Gardeners: </label>
        <input autofocus class="form-control" data-cy="searchGardeners" id="searchGardeners"
               placeholder="Search..." name="searchGardeners" type="text" th:value="*{searchQuery}">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="friendsListContainer">
    <div class="friendsListTitle">
        <h3 id="resultsListTitle" >Gardeners</h3>
    </div>

    <div class="displayResultsContainer">
        <ul>
            <li th:if="${foundGardeners != null and not foundGardeners.isEmpty()}">
                <!-- Iterate over search results -->
                <ul th:each="gardener : ${foundGardeners}">
                    <li>
                        <!-- Display gardener information -->
                        <span th:text="${gardener.getSearchResult()}"></span>
                        <button class="toggleFriendBtn" th:data-email="${gardener.getEmail()}" th:data-friendId="${gardener.getId()}">Add friend</button>
                    </li>
                </ul>
            </li>
        </ul>
        <span th:text="${emptySearchQueryMessage}"></span>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toggleFriendBtns = document.querySelectorAll('.toggleFriendBtn');
        toggleFriendBtns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var email = this.getAttribute('data-email');
                document.getElementById("resultsListTitle").textContent = email;
            });
        });
    });
</script>

</body>

</html>