<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gardener's Go Map</title>
    <link href="https://fonts.googleapis.com/css2?family=Matemasie:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel='stylesheet'>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/leaflet/1.9.4/dist/leaflet.css}" />
    <link rel="stylesheet" th:href="@{/webjars/leaflet-markercluster/1.4.1/MarkerCluster.css}" />
    <link rel="stylesheet" th:href="@{/webjars/leaflet-markercluster/1.4.1/MarkerCluster.Default.css}" />

    <link th:href="@{/css/stylesheet.css}" rel="stylesheet"><!-- Reference to the external stylesheet - order matters, must be below webjars line -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
            z-index: 1;
        }
        #startDate, #endDate, #searchTerm {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
        .date-input {
            width: 142%;
        }
    </style>
</head>
<body>
<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div id="map">
    <div class="search-container position-relative p-0 m-0 justify-content-start"
         style="z-index: 999; left: 75px; flex-direction: column; align-items: baseline;">
        <form class="search-bar form-inline d-flex">
            <input aria-label="Search" class="form-control me-2" id="searchTerm" list="plant-names" placeholder="Search"
                   style="margin-bottom: 0 !important" tabindex="13" th:name="searchTerm" th:value="${searchTerm}"
                   type="search">
            <datalist id="plant-names"></datalist>
        </form>
        <div> <!-- Date filtering -->
            <div class="form-group field date-input">
                <label class="input w-100">
                    <label style="margin-left: 20px;"> Start date </label>
                    <input id="startDate" class="form-control form-field" value="" type="date" max="9999-12-31">
                </label>
            </div>
            <div class="form-group field date-input">
                <label class="input w-100">
                    <label style="margin-left: 20px;"> End date </label>
                    <input id="endDate" class="form-control form-field" value="" type="date" max="9999-12-31">
                </label>
            </div>
        </div>
    </div>
</div>



<script th:src="@{/webjars/leaflet/1.9.4/dist/leaflet.js}"></script>
<script th:src="@{/webjars/leaflet-markercluster/1.4.1/leaflet.markercluster-src.js}"></script>
<script th:inline="javascript">
    /**
     * creates and initialises the map, also defines on click event that calls java code
     */
    var southWest = L.latLng(-55, 148.038821);
    var northEast = L.latLng(-28,200);
    var maxBoundArea = L.latLngBounds(southWest, northEast)
    var map = L.map('map', {
        center: [-43.5, 174.88],
        zoom: 5.2,
        maxBounds: maxBoundArea,
        minZoom: 5.2,
        maxZoom: 18
    });
    new L.TileLayer('https://tile.csse.canterbury.ac.nz/hot/{z}/{x}/{y}.png', { // UCs tilemap server
        attribution: '© OpenStreetMap contributors<br>Served by University of Canterbury'
    }).addTo(map);

    var clusteredMarkers = L.markerClusterGroup({
        maxClusterRadius: 50 // Helps to prevent clusters over a large area
    });

    let scannedPlants;
    let currentPlants;
    var searchInput = document.getElementById("searchTerm");
    searchInput.addEventListener("input", plantFilter);

    // Parses HTML input and DateUploaded into JS Dates - taken + changed from GPT and Stack Overflow
    function parseDateString(dateString, splitChar) {
        if (!dateString) return null; // Return null if the input is empty
        var parts = dateString.split(splitChar);
        // Ensure parts are in the right order: [DD, MM, YYYY] --> [YYYY MM DD] if regular date (with '/' used)
        return new Date(parts[splitChar === '/' ? 2 : 0], // Months are 0-indexed
            parts[1] - 1, parts[splitChar === '/' ? 0 : 2]);
    }

    document.getElementById('startDate').addEventListener('change', plantFilter);
    document.getElementById('endDate').addEventListener('change', plantFilter);

    function plantFilter() {
        var startDate = parseDateString(document.getElementById('startDate').value, '-');
        var endDate = parseDateString(document.getElementById('endDate').value, '-');

        if (searchInput.value.trim() !== "") { // If the searchInput is in use then it will filter the returned pins
            currentPlants = scannedPlants.filter(function (plant) {
                return plant.name.trim().toLowerCase() === searchInput.value.trim().toLowerCase();
            });
        } else {
            currentPlants = scannedPlants;
            document.getElementById("plant-names").innerHTML = '';
            loadAllOptions();
        }

        if (startDate) {
            currentPlants = currentPlants.filter(function (plant) {
                var plantDate = parseDateString(plant.dateUploaded, '/');
                return plantDate >= startDate;
            });
        }

        if (endDate) {
            endDate.setHours(23, 59, 59, 999); // Ensure endDate is inclusive as per gpt
            currentPlants = currentPlants.filter(function (plant) {
                var plantDate = parseDateString(plant.dateUploaded, '/');
                return plantDate <= endDate;
            });
        }

        clusteredMarkers.clearLayers();
        showMarkers();
    }


    document.addEventListener("DOMContentLoaded", function() {
        /*<![CDATA[*/
        scannedPlants = /*[[${scannedPlants}]]*/ [];
        currentPlants = scannedPlants;
        showMarkers();
        loadAllOptions();
        /*]]>*/
    });

    function showMarkers() {
        currentPlants.forEach(function (scannedPlant) {
            if (scannedPlant.plantLatitude && scannedPlant.plantLongitude && !isNaN(scannedPlant.plantLatitude) && !isNaN(scannedPlant.plantLongitude)) {

                var plantLink = '/collectionDetails?speciesName=' + encodeURIComponent(scannedPlant.speciesScientificNameWithoutAuthor);
                var popupContent =
                    `<div style="width: 200px; word-break: break-word; text-align: center;">
                    <div>
                    <h4>${scannedPlant.name}</h4>
                    <p><i>${scannedPlant.speciesScientificNameWithoutAuthor}</i></p>
                    <p><i>Added ${scannedPlant.dateUploaded} </i></p>
                    <a style="text-decoration: none;" href="${plantLink}">View in your collection</a><br>
                    </div>`;

                if (scannedPlant.uploadedImage) {
                    var image = '<img src="' + scannedPlant.uploadedImage + '" alt="Plant image" width="200px" height="auto"/>';
                    popupContent += '<br>' + image + '</div>';
                } else {
                    popupContent += '</div>';
                }

                L.marker([scannedPlant.plantLatitude, scannedPlant.plantLongitude])
                    .addTo(clusteredMarkers)
                    .bindPopup(popupContent, {maxWidth: 200}
                    );
            }
        });
        map.addLayer(clusteredMarkers);
    }

    function loadAllOptions() {
        const plantNames = document.getElementById("plant-names");
        let uniqueNames = [...new Set(scannedPlants.map((plant => plant.name.trim())))].sort();

        uniqueNames.forEach(name => {
                let newOption = document.createElement("option");
                newOption.value = name;
                newOption.text = name;
                plantNames.appendChild(newOption);
            }
        )
    }

    // Dynamically adjust map height based on the navbar height - need to do this because navbar does not have a set height
    function resizeMap() {
        const navbarHeight = document.querySelector('nav').offsetHeight;
        const map = document.getElementById('map');
        map.style.height = `calc(100vh - ${navbarHeight}px)`;
    }

    // Adjust the map height on window resize
    window.addEventListener('resize', resizeMap);
    window.addEventListener('load', resizeMap);

</script>
</body>
</html>