<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <meta charset="UTF-8">
    <title>My Collection</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div class="collection-container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div id="addPlantButton" class="col-md-3 mb-4" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#addPlantModal">
            <div class="card border-custom collection-gardens-card" style="align-items: center; display:flex; flex-direction: column;  height:100%; justify-content:center;">
                <div class="add-button">
                    <span class="icon">+</span>
                    <span class="text">Add Plant</span>
                </div>
            </div>
        </div>


        <div th:each="species : ${speciesList.content}" class="col-md-3 mb-4">
            <a th:href="@{/collectionDetails(speciesName=${species.speciesName})}" style="text-decoration: none;">
                <div class="card collection-gardens-card">
                    <img id="collection-card-img" class="card-img-top" th:src="${species.imageUrl} == null ? '/images/placeholder.jpg' : ${species.imageUrl}" alt="Plant Species image">
                    <div class="card-collection-body">
                        <div class="card-body">
                            <h5 style="color: #fffdf6" class="card-title" th:text="${species.speciesName}"></h5>
                            <p style="color: #fffdf6" class="card-text" th:text="'Number Identified: ' + ${species.count}"></p>
                        </div>
                    </div>
                 </div>
            </a>
        </div>
    </div>
</div>
<div th:if="${speciesList.totalPages > 0}" class="d-flex justify-content-center" aria-label="Page navigation example ">
    <ul class = "pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/myCollection(pageNo=0)}"
               aria-label="Previous">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <ul th:if="${speciesList.totalPages > 0}" class="pagination"
            th:each="pageNumber : ${pageNumbers}">
            <li class="page-item"><a class="page-link" th:href="@{/myCollection(pageNo=${pageNumber - 1})}" th:text="${pageNumber}"></a></li>
        </ul>
        <li class="page-item">
            <a class="page-link" th:href="@{/myCollection(pageNo=${speciesList.totalPages - 1})}" aria-label="Next">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</div>
<div class="d-flex justify-content-center" aria-label="Navigation message">
    <p th:text="'Page: ' + (${speciesList.number + 1})"></p>
</div>
<div class="d-flex justify-content-center" aria-label="Navigation message">
    <p th:text="${paginationMessage}"></p>
</div>

<div th:insert="~{modal/addPlantToCollectionModal.html}"></div>

<!--This code below was created by Claud AI to open the modal instantly if there is an error-->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var showModal = /*[[${showModal}]]*/ false;
        var addPlantModal = new bootstrap.Modal(document.getElementById('addPlantModal'));

        if (showModal) {
            addPlantModal.show();
        }
    });
    /*]]>*/
</script>
</body>

</html>

