<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div id="form">
    <h1>Update Password</h1>
    <form id="updatePasswordForm" method="post" th:action="@{password}">

        <label for="oldPassword"> Old Password: </label>
        <input id="oldPassword" th:name="oldPassword" type="password">
        <p class="errorMessage" th:text="${passwordCorrect}"></p>
        <br/>
        <label for="newPassword"> New Password: </label>
        <input id="newPassword" th:name="newPassword" type="password">
        <p class="errorMessage" th:text="${passwordStrong}"></p>
        <br/>
        <label for="retypePassword"> Retype Password: </label>
        <input id="retypePassword" th:name="retypePassword" type="password">
        <p class="errorMessage" th:text="${passwordsMatch}"></p>
        <br/>


        <br/>
        <div style="display: flex; flex-direction: column">
            <input type="submit" value="Save"/>
            <button type="reset" onclick="window.location='./user'">Cancel</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.getElementById("updatePasswordForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "submit" || activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>