<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Update Password</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>

<div class="container card mt-5 mb-5">
    <h1>Update Password</h1>
    <form id="updatePasswordForm" method="post" th:action="@{password}">

        <label for="oldPassword"> Old Password: </label>
        <input class="form-control" id="oldPassword" th:name="oldPassword" type="password" maxLength="255"
               th:classappend="${(passwordCorrect != '' && passwordCorrect != null) ? 'error' : ''}">
        <p class="smallErrorMessage" th:text="${passwordCorrect}"></p>
        <br/>

        <label for="newPassword"> New Password: </label>
        <input class="form-control" id="newPassword" th:name="newPassword" type="password" maxLength="255"
               th:classappend="${(passwordStrong != '' && passwordStrong != null) || (newDifferentFromOld != '' && newDifferentFromOld != null) ? 'error' : ''}">
        <p class="smallErrorMessage" th:text="${passwordStrong}"></p>
        <p class="smallErrorMessage" th:text="${newDifferentFromOld}"></p>
        <br/>
        <label for="retypePassword"> Retype Password: </label>
        <input class="form-control" id="retypePassword" th:name="retypePassword" type="password" maxLength="255"
               th:classappend="${(passwordsMatch != '' && passwordsMatch != null) ? 'error' : ''}">
        <p class="smallErrorMessage" th:text="${passwordsMatch}"></p>
        <br/>


        <br/>
        <div style="display: flex; flex-direction: column">
            <input class="btn btn-success w-100" type="submit" value="Save"/>
            <button class="btn btn-secondary w-100 mt-3" type="reset" onclick="window.location='./user'">Cancel</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.getElementById("updatePasswordForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "submit" || activeElement.id === "retypePassword" || activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>