<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" th:href="@{~/css/styles.css}">
</head>
<body>
<nav th:insert="~{fragmentExample/fragments/nav.html}"></nav>
<h1>Update Password</h1>

<div class="formContainer">
    <label for="oldPassword"> Old Password: </label>
    <input id="oldPassword">
    <br/>
    <label for="NewPassword"> New Password: </label>
    <input id="NewPassword">
    <br/>
    <label for="retypePassword"> Retype Password: </label>
    <input id="retypePassword">
    <br/>

</div>



</body>
</html>