<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <meta charset="UTF-8">
    <title>Plant Wiki</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div class="browse-gardens-container">
    <div class="search-container d-flex justify-content-center">
        <form class="form-inline" method="post" th:action="@{/plantWiki}">
            <input aria-label="Search" class="form-control mr-2 mb-0 mt-0" placeholder="Search" th:value="${searchTerm}" th:name="searchTerm"
                   type="search">
            <button class="btn btn-outline-success mt-0" type="submit">Search</button>
        </form>
    </div>
    <div class="no-search-results-found-container">
        <span th:if="${errorMessage}" th:text="${errorMessage}"></span>
    </div>
    <div class="plant-wiki-container">
        <div class="row">
            <div th:each="plant : ${resultPlants}" class="col-md-4 col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-4">
                <div class="card plant-wiki-card">
                    <div class="btn-wrapper">
                        <button type="button" class="btn btn-success"
                                th:data-image-url="${plant.imagePath}"
                                th:data-plant-name="${plant.name}"
                                th:data-plant-desc="'Scientific Names: ' + ${#strings.listJoin(plant.scientificName, ', ')} + '\n' +
                       'Cycle: ' + ${plant.cycle} + '\n' +
                       'Watering Frequency: ' + ${plant.watering} + '\n' +
                       'Suggested Sunlight Levels: ' + ${#strings.listJoin(plant.sunlight, ', ')}"
                                onclick="displayAddPlantModal(this)">Add plant</button>
                    </div>
                    <img id="collection-card-img" class="card-img-top" th:src="${plant.imagePath  != ''} ? ${plant.imagePath} : '/images/placeholder.jpg'" alt="No Image">
                    <div class="card-collection-body">
                        <div class="card-body">
                            <h5 style="color: #fffdf6" class="card-title" th:text="${plant.name}"></h5>
                            <p style="color: #fffdf6" class="card-text"
                               th:with="concatenatedNames=${#strings.listJoin(plant.scientificName, ', ')}">
                                <strong>Scientific Names: </strong>
                                <span th:text="${concatenatedNames}"></span>
                            </p>
                            <p style="color: #fffdf6" class="card-text">
                                <strong>Cycle: </strong>
                                <span th:text="${plant.cycle}"></span>
                            </p>
                            <p style="color: #fffdf6" class="card-text">
                                <strong>Watering Frequency: </strong>
                                <span th:text="${plant.watering}"></span>
                            </p>
                            <p style="color: #fffdf6" class="card-text"
                               th:with="concatenatedSunlightNames=${#strings.listJoin(plant.sunlight,', ')}">
                                <strong>Suggested Sunlight Levels: </strong>
                                <span th:text="${concatenatedSunlightNames}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Plant Modal -->
        <div class="friend-modal" id="add-plant-modal" style="display:none;">
            <div class="container mb-5">
                <div class="card mb-5 w-50">
                    <h1> Add New Plant </h1>
                    <label class="fst-italic">* Required</label>
                    <br/>
                    <form id="plantForm" method="post" th:action="@{/addPlant}" enctype="multipart/form-data">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <select class="form-select" name="gardenId" aria-label="Select">
                            <th:block th:each="garden : ${userGardens != null ? userGardens : gardens}" placeholder="Choose a garden*">
                                <option class="dropdown-item" th:text="${garden.name}" th:value="${garden.id}"></option>
                            </th:block>
                        </select>
                        <br/>
                        <label for="name"> *Name: </label>
                        <input type="text" class="form-control" id="name" name="name" maxlength="64" placeholder="Name"
                               th:classappend="${nameError} ? 'is-invalid' : ''" th:value="${name}">
                        <p th:if="${nameError}" th:text="${nameError}" class="smallErrorMessage text-danger"></p>
                        <br/>
                        <label for="count"> Plant Count: </label>
                        <input type="text" class="form-control" id="count" name="count" maxlength="12" placeholder="How many?"
                               th:classappend="${countError} ? 'is-invalid' : ''" th:value="${count}">
                        <p th:if="${countError}" th:text="${countError}" class="smallErrorMessage text-danger"></p>
                        <br/>
                        <label for="description"> Description: </label>
                        <br/>
                        <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
                        <textarea class="form-control" id="description" name="description" maxlength="512"
                                  th:classappend="${descriptionError} ? 'is-invalid' : ''" th:value="${description}">[[${description}]]</textarea>
                        <p th:if="${descriptionError}" th:text="${descriptionError}" class="smallErrorMessage text-danger"></p>
                        <br/>
                        <label for="datePlanted"> Date Planted: </label>
                        <input type="date" class="form-control" id="datePlanted" name="date" th:value="${date}">
                        <p th:if="${dateError}" th:text="${dateError}" class="smallErrorMessage text-danger"></p>
                        <script>
                            document.getElementById("datePlanted").addEventListener("invalid",
                                function(event) {
                                    event.preventDefault();
                                    document.getElementById("datePlanted").style.border = "1px solid red";
                                    document.getElementById("dateError").textContent = "Date is not in valid format, DD/MM/YYYY";
                                });
                        </script>
                        <br/>
                        <!-- Hidden input to store image URL -->
                        <input type="hidden" id="imageUrl" name="imageUrl">
                        <label for="image"> Image: </label>
                        <div class="plant-image-container" id="image">
                            <img id="currentImage" src="" alt="Plant">
                            <button type="button" class="image-button" onclick="document.getElementById('fileInput').click()">+</button>
                            <input type="file" id="fileInput" name="file" style="display: none;" accept="image/*" onchange="handleImageChange()">
                        </div>
                        <p th:if="${uploadError}" th:text="${uploadError}" class="smallErrorMessage text-danger"></p>
                        <br/>
                        <button class="btn btn-success w-100" type="submit">Submit</button>
                    </form>
                    <a class="btn btn-secondary w-50 mt-3" onclick="closeAddPlantModal()">Cancel</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function displayAddPlantModal(button) {
        const modal = document.getElementById("add-plant-modal");
        modal.style.display = "block"; // Show the modal

        const imageUrl = button.getAttribute('data-image-url');
        document.getElementById('currentImage').src = imageUrl;
        document.getElementById('imageUrl').value = imageUrl; // Set the hidden input value

        const plantName = button.getAttribute('data-plant-name');
        document.getElementById('name').value = plantName;

        const plantDesc = button.getAttribute('data-plant-desc');
        document.getElementById('description').value = plantDesc.replace(/\\n/g, '\n'); // Actually make it a new line

        // Set today's date in YYYY-MM-DD format
        const today = new Date();
        const day = String(today.getDate()).padStart(2, '0');
        const month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0 ;)
        const year = today.getFullYear();
        document.getElementById('datePlanted').value = `${year}-${month}-${day}`;
    }

    function closeAddPlantModal() {
        const modal = document.getElementById("add-plant-modal");
        modal.style.display = "none"; // Hide the modal
    }

    function handleImageChange() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('currentImage').src = e.target.result;
                document.getElementById('imageUrl').value = ''; // Clear the URL if a file is chosen
            };
            reader.readAsDataURL(file);
        }
    }
</script>

</body>
</html>
