<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create New Plant</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div id = "navbar" th:insert="~{fragmentExample/fragments/navbar.html :: navbar}"></div>

<div id="form">
    <h1> Add New Plant </h1>
    <form id="plantForm" th:action="@{form(gardenId=${garden.id})}" method="post">
        <label for="name"> Name: </label>
        <input type="text" class="form-control" th:value="*{name}" id="name" name="name" placeholder="Name"
               th:classappend="${nameError} ? 'error' : ''">
        <span th:if="${nameError}" th:text="${nameError}" style="color: red;"></span>
        <br/>
        <label for="count"> Plant Count: </label>
        <input type="text" class="form-control" th:value="*{count}" id="count"  name="count" placeholder="How many?"
               th:classappend="${countError} ? 'error' : ''">
        <span th:if="${countError}" th:text="${countError}" style="color: red;"></span>
        <br/>
        <label for="description"> Description: </label>
        <br/>
        <span id="characterCountContainer"><span id="characterCount">0</span> /512</span>
        <textarea class="form-control" th:value="*{description}" id="description" name="description"  maxlength="512"
                  th:classappend="${descriptionError} ? 'error' : ''"></textarea>
        <span th:if="${descriptionError}" th:text="${descriptionError}" style="color: red;"></span>
        <br/>
        <label for="datePlanted"> Date Planted: </label>
        <input type="date" class="form-control" th:value="*{date}" id="datePlanted" name="date">
        <span id="dateError" style="color: red;"></span>
        <script>
            document.getElementById( "datePlanted" ).addEventListener( "invalid",
                function( event ) {
                    event.preventDefault();
                    document.getElementById("dateError").textContent = "Date is not in valid format, DD/MM/YYYY";
                });
        </script>
        <br/>
        <label for="image"> Image: </label>
        <div class="plant-image-container" id="image">
            <img src="/images/placeholder.jpg" alt="Plant">
            <button type="button" class="image-button">+</button>
        </div>
        <br/>
        <button type="submit">Submit</button>
    </form>
    <a th:href="@{../../details(gardenId=${garden.id})}">
        <button>Cancel</button>
    </a>
</div>
<script>
    document.getElementById("plantForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
<script type="text/javascript">

    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        tx[i].addEventListener("input", OnInput, false);
        document.addEventListener('DOMContentLoaded', function() {
            updateCharacterCount();
        });
        document.addEventListener('input', function() {
            updateCharacterCount();
        });
    }

    function OnInput() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + "px";
    }
    function updateCharacterCount() {
        var textarea = document.getElementById("description");
        var characterCount = document.getElementById("characterCount");
        characterCount.textContent = textarea.value.length;
    }
</script>
</body>
</html>