<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create New Plant</title>
    <link th:href="@{/css/stylesheet.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div id = "navbar" th:insert="~{fragmentExample/fragments/navbar.html :: navbar}"></div>

<div id="form">
    <h1> Add New Plant </h1>
    <form id="plantForm" th:action="@{form(gardenId=${garden.id})}" method="post">
        <label for="name"> Name: </label>
        <input type="text" class="form-control" th:value="*{name}" id="name" name="name" placeholder="Name"
               th:classappend="${nameError} ? 'error' : ''">
        <span th:if="${nameError}" th:text="${nameError}" style="color: red;"></span>
        <br/>
        <label for="count"> Plant Count: </label>
        <input type="text" class="form-control" th:value="*{count}" id="count"  name="count" placeholder="How many?"
               th:classappend="${countError} ? 'error' : ''">
        <span th:if="${countError}" th:text="${countError}" style="color: red;"></span>
        <br/>
        <label for="description"> Description: </label>
        <textarea class="form-control" th:value="*{description}" id="description" name="description" placeholder="" th:classappend="${dateError} ? 'error' : ''"></textarea>
        <span th:if="${descriptionError}" th:text="${descriptionError}" style="color: red;"></span>
        <br/>
        <label for="datePlanted"> Date Planted: </label>
        <input type="date" class="form-control" th:value="*{date}" id="datePlanted" name="date">
        <span th:if="${dateError}" th:text="${dateError}" style="color: red;"></span>
        <br/>
        <button type="submit">Submit</button>
    </form>
    <a th:href="@{../../details(gardenId=${garden.id})}">
        <button>Cancel</button>
    </a>
</div>
<script>
    document.getElementById("plantForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>

</body>
</html>