<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Please Register</title>
</head>

<body>
<div class="container">
    <div class="header-container text-center">
        <img th:src="@{/images/placeholder.jpg}" alt="logo" class="logo"/>
        <h1 class="title">Gardeners Grove</h1>
    </div>
    <div class="card w-50">
        <h1 class="text-center">Please Register</h1>

        <form method="post" class="container" th:action="@{register}" id="registerForm" novalidate>
            <div th:if="${param.expired}" id="error-message" >
                <p class="errorMessage">Signup code invalid</p>
            </div>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />

            <div class="form-group field">
                <label class="input">
                    <input name="firstName" placeholder="First Name" type="text" maxlength="255" class="form-control form-field"
                           th:value="*{firstName}" th:classappend="${(firstNameValid != '' && firstNameValid != null) ? 'is-invalid' : ''}">
                    <span class="form-label">First Name</span>
                </label>
            </div>

            <p class="errorMessage" th:utext="${firstNameValid}" th:value="*{firstNameValid}"></p>
            <br/>

            <div class="form-group field">
                <label class="input">
                    <input id="lastName" name="lastName" placeholder="Last Name" type="text" maxlength="255" class="form-control form-field"
                       th:value="*{lastName}" th:classappend="${(lastNameValid != '' && lastNameValid != null) ? 'is-invalid' : ''}">
                    <span class="form-label">Last Name</span>
                </label>
            </div>

            <p class="errorMessage" th:utext="${lastNameValid}" th:value="*{lastNameValid}"></p>
            <br/>
            <div class="m-3">
                <label for="isLastNameOptional">I have no surname</label>
                <input class="form-check-input" data-cy="isLastNameOptional" id="isLastNameOptional" name="isLastNameOptional"
                       th:id="isLastNameOptional" th:name="isLastNameOptional" type="checkbox" th:checked="${isLastNameOptional}"/>
            </div>
            <script>
                document.getElementById('isLastNameOptional').onchange = function () {
                    document.getElementById('lastName').disabled = this.checked;
                };
                document.getElementById('isLastNameOptional').addEventListener('keydown', function (event) {
                    if (event.key === 'Enter') {
                        this.checked = !this.checked;
                        document.getElementById('lastName').disabled = this.checked;
                    }
                });
            </script>

            <br/>
            <div class="form-group field w-50">
                <label class="input w-100">
                    <label style="margin-left: 20px;"> Date of Birth </label>
                    <input id="DoB" class="form-control form-field" th:name="DoB" th:value="*{DoB}" type="date" max="9999-12-31"
                           th:classappend="${(DoBValid != '' && DoBValid != null) ? 'is-invalid' : ''}">
                </label>
            </div>
            <p id="DoBInvalid" class="errorMessage" th:utext="${DoBValid}"></p>
            <input type="hidden" id="isDoBInvalid" th:name="isDoBInvalid" th:value="false"/>

            <br/>

            <div class="form-group field">
                <label class="input">
                    <input name="email" placeholder="Email" type="text" maxlength="320" class="form-control form-field"
                        th:value="*{email}" th:classappend="${(emailValid != '' && emailValid != null) ? 'is-invalid' : ''}">
                    <span class="form-label">Email</span>
                </label>
            </div>


            <p class="errorMessage" th:utext="${emailValid}" th:value="*{emailValid}"></p>
            <br/>
            <div class="form-group field">
                <label class="input">
                    <input name="password" placeholder="Password" type="password" maxlength="255" class="form-control form-field"
                        th:classappend="${(passwordsMatch != '' && passwordsMatch != null)|| (passwordStrong != '' && passwordStrong != null) ? 'is-invalid' : ''}">
                    <span class="form-label">Password</span>
                </label>
            </div>

            <br/>

            <div class="form-group field">
                <label class="input">
                    <input name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password" type="password" maxlength="255" class="form-control form-field"
                           th:classappend="${(passwordsMatch != '' && passwordsMatch != null)|| (passwordStrong != '' && passwordStrong != null) ? 'is-invalid' : ''}">
                    <span class="form-label">Confirm Password</span>
                </label>
            </div>


            <p class="errorMessage" th:value="*{passwordsMatch}" th:text="${passwordsMatch}"></p>
            <p class="errorMessage" th:value="*{passwordStrong}" th:text="${passwordStrong}"></p>
            <br/>


            <br/>
            <div class="m-0 p-0 d-flex gap-5">
                <button type="submit" class="btn btn-primary mb-3">Register</button>
                <button type="reset" class="btn btn-danger mb-3" onclick="window.location='./'">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('lastName').disabled = document.getElementById('isLastNameOptional').checked;
    document.getElementById("registerForm").addEventListener("submit", function(event) {
        const dobInput = document.getElementById("DoB");
        if (!(dobInput.checkValidity())) {
            console.log("invalid date")
            event.preventDefault();
            document.getElementById("isDoBInvalid").value = true;
            document.getElementById("registerForm").submit();
        } else {
            console.log("valid date")
            document.getElementById("isDoBInvalid").value = false;
        }
    });

    document.getElementById("registerForm").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.id === "passwordConfirm" || activeElement.type === "submit" || activeElement.type === "reset") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });

    document.getElementById('lastName').disabled = document.getElementById("isLastNameOptional").checked

    document.getElementById("isLastNameOptional").addEventListener("keydown",function (event){
        if(event.key == "Enter") {

        }
    });
</script>
</body>
</html>