<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gardener's Grove Register</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>


<div id="form">
    <h1>Register</h1>
    <form method="post" th:action="@{register}" id="registerForm">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <label for="firstName"> First Name: </label>
        <input autofocus class="form-control" data-cy="firstName" id="firstName"
               placeholder="First Name" th:name="firstName" th:value="*{firstName}" type="text">
        <p class="errorMessage" th:text="${firstNameValid}" th:value="*{firstNameValid}"></p>
        <br/>
        <label for="lastName"> Last Name: </label>
        <input class="form-control" data-cy="lastName" id="lastName" placeholder="Last Name"
               th:name="lastName" th:value="*{lastName}" type="text">
        <p class="errorMessage" th:text="${lastNameValid}" th:value="*{lastNameValid}"></p>
        <br/>
        <label for="isLastNameOptional">I have no surname</label>
        <input class="form-control" data-cy="isLastNameOptional" id="isLastNameOptional" name="isLastNameOptional"
               th:id="isLastNameOptional" th:name="isLastNameOptional" type="checkbox"/>
        <script>
            document.getElementById('isLastNameOptional').checked = false;
            document.getElementById('isLastNameOptional').onchange = function () {
                document.getElementById('lastName').disabled = this.checked;
            };
        </script>
        <br/>
        <label for="DoB"> Date of Birth: </label>
        <input class="form-control" data-cy="DoB" id="DoB"
               th:name="DoB" th:value="*{DoB}" type="date">
        <p class="errorMessage" th:text="${DoBValid}"></p>
        <script>
            document.getElementById( "DoB" ).addEventListener( "invalid",
                function( event ) {
                    event.preventDefault();
                    document.getElementById("DoBInvalid").textContent = "Date is not in valid format, DD/MM/YYYY";
                });
        </script>
        <br/>
        <label for="email"> Email: </label>
        <input class="form-control" data-cy="email" id="email" placeholder="Email"
               th:name="email" th:value="*{email}" type="text">
        <p class="errorMessage" th:text="${emailValid}" th:value="*{emailValid}"></p>
        <br/>
        <label for="password"> Password: </label>
        <input class="form-control" data-cy="password" id="password" placeholder="Password"
               th:name="password" type="password">
        <br/>
        <label for="passwordConfirm"> Confirm Password: </label>
        <input type="password" class="form-control" id="passwordConfirm" placeholder="Repeat password"
               th:name="passwordConfirm" data-cy="passwordConfirm">
        <p class="errorMessage" th:value="*{passwordsMatch}" th:text="${passwordsMatch}"></p>
        <p class="errorMessage" th:value="*{passwordStrong}" th:text="${passwordStrong}"></p>
        <br/>


        <br/>
        <div>
            <input type="submit" value="Register"/>
            <button type="reset" id="cancel" onclick="window.location='./'">Cancel</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    document.getElementById("registerForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.type === "submit" || activeElement.type === "reset") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>