<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Please Register</title>\

</head>
<body>



<div class="container">
    <div class="header-container text-center">
        <img src="/images/placeholder.jpg" alt="logo" class="logo"/>
        <h1 class="title">Gardeners Grove</h1>
    </div>
    <div class="card">
        <h1 class="text-center">Please Register</h1>

        <form method="post" class="container" th:action="@{register}" id="registerForm" >
            <div th:if="${param.expired}" id="error-message" >
                <p class="errorMessage">Signup code invalid</p>
            </div>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <label for="firstName"> First Name: </label>
            <input autofocus class="form-control" data-cy="firstName" id="firstName" maxlength="255"
                   placeholder="First Name" th:name="firstName" th:value="*{firstName}" type="text"
                   th:classappend="${(firstNameValid != '' && firstNameValid != null) ? 'error' : ''}">
            <p class="smallErrorMessage" th:utext="${firstNameValid}" th:value="*{firstNameValid}"></p>
            <br/>
            <label for="lastName"> Last Name: </label>
            <input class="form-control" data-cy="lastName" id="lastName" placeholder="Last Name" maxlength="255"
                   th:name="lastName" th:value="*{lastName}" type="text"
                   th:classappend="${(lastNameValid != '' && lastNameValid != null) ? 'error' : ''}">
            <p class="smallErrorMessage" th:utext="${lastNameValid}" th:value="*{lastNameValid}"></p>
            <br/>
            <div class="m-3">
                <label for="isLastNameOptional">I have no surname</label>
                <input class="form-check-input" data-cy="isLastNameOptional" id="isLastNameOptional" name="isLastNameOptional"
                       th:id="isLastNameOptional" th:name="isLastNameOptional" type="checkbox" th:checked="${isLastNameOptional}"/>
            </div>
            <script>
                document.getElementById('isLastNameOptional').onchange = function () {
                    document.getElementById('lastName').disabled = this.checked;
                };
            </script>

            <br/>
            <label for="DoB"> Date of Birth: </label>
            <input class="form-control" data-cy="DoB" id="DoB"
                   th:name="DoB" th:value="*{DoB}" type="date">
            <p class="smallErrorMessage" th:utext="${DoBValid}"></p>
            <script>
                document.getElementById( "DoB" ).addEventListener( "invalid",
                    function( event ) {
                        event.preventDefault();
                        document.getElementById("DoB").style.border = "1px solid red";
                        document.getElementById("DoBInvalid").textContent = "Date is not in valid format, DD/MM/YYYY";
                    });
            </script>
            <br/>
            <label for="email"> Email: </label>
            <input class="form-control" data-cy="email" id="email" placeholder="Email" maxlength="320"
                   th:name="email" th:value="*{email}" type="text"
                   th:classappend="${(emailValid != '' && emailValid != null) ? 'error' : ''}">
            <p class="smallErrorMessage" th:utext="${emailValid}" th:value="*{emailValid}"></p>
            <br/>
            <label for="password"> Password: </label>
            <input class="form-control" data-cy="password" id="password" placeholder="Password" maxlength="255"
                   th:name="password" type="password"
                   th:classappend="${(passwordsMatch != '' && passwordsMatch != null)|| (passwordStrong != '' && passwordStrong != null) ? 'error' : ''}">
            <br/>
            <label for="passwordConfirm"> Confirm Password: </label>
            <input type="password" class="form-control" id="passwordConfirm" placeholder="Repeat password" maxlength="255"
                   th:name="passwordConfirm" data-cy="passwordConfirm"
                   th:classappend="${(passwordsMatch != '' && passwordsMatch != null)|| (passwordStrong != '' && passwordStrong != null) ? 'error' : ''}">
            <p class="smallErrorMessage" th:value="*{passwordsMatch}" th:text="${passwordsMatch}"></p>
            <p class="smallErrorMessage" th:value="*{passwordStrong}" th:text="${passwordStrong}"></p>
            <br/>


            <br/>
            <div class="m-0 p-0 d-flex gap-5">
                <button type="submit" class="btn btn-primary mb-3">Register</button>
                <button type="reset" class="btn btn-danger mb-3" onclick="window.location='./'">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("registerForm").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.id === "passwordConfirm" || activeElement.type === "submit" || activeElement.type === "reset") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>