<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>Reset Password</title>
</head>

<body>
<div class="container">
    <div class="header-container text-center">
        <img th:src="@{/images/placeholder.jpg}" alt="logo" class="logo"/>
        <h1 class="title">Gardeners Grove</h1>
    </div>
    <div class="card">
        <h1 class="text-center">Please enter your new password.</h1>
        <form id="resetPasswordForm" method="post" th:action="@{/resetPassword}">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <div class="d-flex flex-column align-items-center">
                <div class="form-group">
                    <input name="password" placeholder="New Password" type="password" required maxlength="255" class="form-control"
                           th:classappend="${(passwordStrong != '' && passwordStrong != null)? 'error' : ''}"/>
                </div>
                <p class="errorMessage" th:text="${passwordStrong}"></p>
                <div class="form-group">
                    <input name="retypePassword" placeholder="Retype Password" type="password" required maxlength="255" class="form-control"
                           th:classappend="${(passwordsMatch != '' && passwordsMatch != null)? 'error' : ''}"/>
                </div>
                <p class="errorMessage" th:text="${passwordsMatch}"></p>
                <p class="errorMessage" th:if="${param.error}" data-th-text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
                <div style="display: flex; flex-direction: column">
                    <input style="width: 100%" class="btn btn-primary mb-3" type="submit" value="Save"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>