<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>User Profile</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>

<div class="mb-5" id="user_div">
    <h1 class="text-dark">User Profile</h1>

    <div class="container w-25 d-flex justify-content-center p-0 flex-" style="border-radius: 12px; max-width: 300px">
        <div class="UserProfilePic">
            <img th:src="@{${gardener.getProfilePicture()}}" alt="Profile Picture">
        </div>
    </div>
    <div class="container card w-50">
        <form id="userForm">
            <label for="firstName"> First Name: </label>
            <span id="firstName" th:text="${gardener.getFirstName()}"></span>
            <br/>
            <label for="lastName"> Last Name: </label>
            <span id="lastName" th:text="${gardener.getLastName()}"></span>
            <br/>
            <label for="DoB"> Date of Birth: </label>
            <span id="DoB" th:text="${gardener.getDoB()}"></span>
            <br/>
            <label for="email"> Email: </label>
            <span id="email" th:text="${gardener.getEmail()}"></span>
        </form>
    </div>
</div>
</body>
</html>