<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gardener's Grove Upload Image</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <nav th:insert="~{fragmentExample/fragments/nav.html}"></nav>
</head>
<body>
<h1>Upload New Profile Image</h1>
<div class="imageInstructionsContainer">
    <h4>Picture must be less than 10MB</h4>
    <h4>Picture must be of type jpg, png, or svg</h4>
</div>


<div class="formContainer">
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <div class="uploadLabelContainer">
            <label for="file">Choose an image:</label>
            <input type="file" id="file" name="file" accept="image/*" placeholder="Choose an image">
        </div>
        <div class="submitButtonContainer">
            <button class="buttonDesign" type="submit">Upload</button>
            <button class="buttonDesign" type="reset" onclick="window.location='./user'">Cancel</button>
        </div>
    </form>
</div>

<!--<div class="warningMessageContainer">-->
<!--    <p th:text="${uploadMessage}" th:value="*{uploadMessage}"></p>-->
<!--</div>-->


<!--&lt;!&ndash; Display uploaded image information &ndash;&gt;-->
<!--<div th:if="${image != null}">-->
<!--    <h3>Uploaded Image Details:</h3>-->
<!--    <p th:text="'File Name: ' + ${image.fileName}"></p>-->
<!--</div>-->

</body>
</html>