<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragmentExample/fragments/bootstrap.html}">
    <title>User Profile</title>
</head>

<body>

<div th:insert="~{fragmentExample/fragments/navbar.html}"></div>
<div id="errorEditingDetails" th:attr="data-error-occurred=${errorEditingDetails}"></div>


<div class="mb-5" id="user_div">

    <h1 class="text-dark mt-4 mb-2">User Profile</h1>

    <div class="container card col-md-6 border-0">
        <div class="row">
            <div class="col-3">
                <div class="UserProfilePicContainer">
                    <form th:action="@{user}" method="post" enctype="multipart/form-data" id="uploadImageForm">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <img th:src="@{${profilePic}}" alt="Profile Picture" id="currentProfilePic">
                        <button type="button" class="image-button" id="fileInputBtn" onclick="handleImageClick()">+</button>
                        <input type="file" id="fileInput" name="file" style="display: none;" accept="image/*"
                               onchange="handleImageChange()">
                    </form>
                    <div class="warningMessageContainer">
                        <p th:text="${uploadMessage}" th:value="*{uploadMessage}" class="errorMessage"></p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <form th:action="@{user/editDetails}" method="post" id="userForm" class="w-100 text-center" novalidate>
                    <div class="row">
                        <div class="col d-flex flex-wrap">

                            <label for="firstName"> First Name: </label>
                            <span class="mx-2" id="firstName" th:text="${firstName}"></span>
                            <input autofocus class="form-control" data-cy="firstName" id="firstNameEdit" maxlength="255"
                                   placeholder="First Name" th:name="firstName" th:value="*{firstName}" type="text"
                                   style="display: none;"
                                   th:classappend="${firstNameValid !=  '' ? 'is-invalid' : ''}">
                            <p class="smallErrorMessage" th:utext="${firstNameError}"></p>
                            <br/>

                            <label for="lastName"> Last Name: </label>
                            <span class="mx-2" id="lastName" th:text="${lastName}"></span>
                            <input class="form-control" data-cy="lastName" id="lastNameEdit" placeholder="Last Name" maxlength="255"
                                   th:name="lastName" th:value="*{lastName}" type="text" style="display: none"
                                   th:classappend="${lastNameValid != '' ? 'is-invalid' : ''}"
                                   th:disabled="${isLastNameOptional}">
                            <br/>


                            <label class="mb-3" id="isLastNameOptionalLabelEdit" for="isLastNameOptional" style="display: none;">I have no surname:</label>
                            <div class="form-check mb-3">
                                <input class="form-check-input mx-2" data-cy="isLastNameOptional" id="isLastNameOptional" name="isLastNameOptional"
                                       placeholder="Last Name Tick Box Check" th:checked="${isLastNameOptional}"
                                       th:name="isLastNameOptional" type="checkbox" style="display: none;">
                            </div>

                            <p class="smallErrorMessage" th:utext="${lastNameError}"></p>
                            <br/>

                            <input class="form-control" style="display: none;">

                            <label for="DoB"> Date of Birth: </label>
                            <span class="mx-2" id="DoB" th:text="${DoB}"></span>
                            <input class="form-control" id="DoBEdit" th:name="DoB" th:value="*{DoB}" type="date" style="display: none;"
                                   th:classappend="${(DoBValid != '' && DoBValid != null) ? 'is-invalid' : ''}" max="9999-12-31">
                            <p class="smallErrorMessage" id="DoBInvalid" th:utext="${DoBError}"></p>
                            <input type="hidden" id="isDoBInvalid" th:name="isDoBInvalid" th:value="false"/>

                            <br/>
                            <label for="email"> Email: </label>
                            <span class="mx-2" id="email" th:text="${email}"></span>
                            <input class="form-control" data-cy="email" id="emailEdit" placeholder="Email" maxlength="320"
                                   th:name="email" th:value="*{email}" type="text" style="display: none;"
                                   th:classappend="${emailValid != '' ? 'is-invalid' : ''}">
                            <p class="smallErrorMessage" th:utext="${emailError}"></p>
                            <br/>
                        </div>

                        <div class="col">
                            <div id="editButtonDiv">
                                <button class="btn btn-primary mb-3" type="button" onclick="enableEditing()">Edit</button>
                            </div>
                            <div id="saveCancelButtonDiv" class="" style="display: none !important;">
                                <button class="btn btn-secondary mb-3 ml-25p d-flex justify-content-center" type="button" onclick="window.location='./password'">Update password</button>
                                <input class="btn btn-success mb-3 ml-25p d-flex justify-content-center" type="submit" value="Save"/>
                                <button class="btn btn-danger mb-3 ml-25p d-flex justify-content-center" type="button" onclick="disableEditing(); window.location='./user'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container col-md-6 left-align p-2">
        <div class="row">
            <div class="col p-0">
                <button class="btn btn-primary w-auto m-2" data-bs-target="#customiseHomepageModal" data-bs-toggle="modal" type="button">
                    Edit Homepage
                </button>

                <button class="btn btn-primary w-auto m-2" data-bs-target="#viewAllBadgesModal" data-bs-toggle="modal" type="button">
                    View all badges
                </button>
            </div>
            <div class="col-9 p-0">
                <div class="container card">
                    <p>My badges</p>
                    <div class="col d-flex flex-wrap">
                        <div class="row p-4">
                            <div class="card">
                                <p>
                                    Badge 1
                                </p>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="card">
                                <p>
                                    Badge 2
                                </p>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="card">
                                <p>
                                    Badge 3
                                </p>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="card">
                                <p>
                                    Badge 4
                                </p>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="card">
                                <p>
                                    Badge 5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Customise Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="customiseHomepageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark">Customise</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body d-grid">
                <form method="post" th:action="@{customiseLayout}" id="customiseForm">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="friendsList" name="sections" value="friendsList"
                               th:checked="${friendsList != null and friendsList == true}">
                        <label class="form-check-label" for="friendsList">
                            My Friend's List
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="recentlyAccessedGardens" name="sections" value="recentlyAccessedGardens"
                               th:checked="${recentlyAccessedGardens != null and recentlyAccessedGardens == true}">
                        <label class="form-check-label" for="recentlyAccessedGardens">
                            Recently Accessed Gardens
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newestPlants" name="sections" value="newestPlants"
                               th:checked="${newestPlants != null and newestPlants == true}">
                        <label class="form-check-label" for="newestPlants">
                            Newest Plants
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="myGardensList" name="sections" value="myGardensList"
                               th:checked="${myGardensList != null and myGardensList == true}">
                        <label class="form-check-label" for="myGardensList">
                            My Garden's List
                        </label>
                    </div>
                </form>

            </div>
            <div class="modal-footer d-flex justify-content-around">
                <!-- Update this button to trigger the opening of the "Change Layout" modal -->
                <button class="btn btn-secondary" type="button" data-bs-target="#exampleModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                    Change Layout
                </button>
                <button class="btn btn-primary" onclick="document.getElementById('customiseForm').submit()" type="submit">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Change Layout Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark" id="exampleModalLabel">Edit Layout</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body d-grid">
                <form id='layoutForm' method="post" th:action="@{changeLayout}">
                    <input type="hidden" value="1" id="layout" th:name="layout">
                    <input type="hidden" id="layoutCustomiseSections" name="customiseSections">
                    <div class="row mb-3">
                        <div class="col">
                            <button class="selectable" onclick="selectOption(this, 1)" type="button">
                                <img alt="layout1" th:src="@{/images/layout1.png}">
                            </button>
                        </div>
                        <div class="col">
                            <button class="selectable" onclick="selectOption(this, 2)" type="button">
                                <img alt="layout2" th:src="@{/images/layout2.png}">
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="selectable" onclick="selectOption(this, 3)" type="button">
                                <img alt="layout3" th:src="@{/images/layout3.png}">
                            </button>
                        </div>
                        <div class="col">
                            <button class="selectable" onclick="selectOption(this, 4)" type="button">
                                <img alt="layout4" th:src="@{/images/layout4.png}">
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-around">
                <button class="btn btn-primary" onclick="submitLayoutForm()" type="submit">
                    Save changes
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    document.getElementById('isLastNameOptional').onchange = function () {
        document.getElementById('lastNameEdit').disabled = this.checked;
    };

    document.getElementById("userForm").addEventListener("submit", function(event) {
        const dobInput = document.getElementById("DoBEdit");
        if (!(dobInput.checkValidity())) {
            console.log("invalid date")
            event.preventDefault();
            document.getElementById("isDoBInvalid").value = true;
            document.getElementById("userForm").submit();
        } else {
            console.log("valid date")
            document.getElementById("isDoBInvalid").value = false;
        }
    });

    document.getElementById("userForm").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            var activeElement = document.activeElement;
            if (activeElement.id === "emailEdit" || activeElement.type === "submit" || activeElement.tagName === "BUTTON") {
                return true;
            } else {
                event.preventDefault();
            }
        }
    });

    function submitLayoutForm() {
        const checkboxes = document.querySelectorAll('#customiseForm input[type="checkbox"]');
        const selectedSections = Array.from(checkboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.value);
        document.getElementById('layoutCustomiseSections').value = selectedSections.join(',');
        document.getElementById('layoutForm').submit();
    }


    function handleImageClick() {
        document.getElementById('fileInput').click();
    }

    function handleImageChange() {
        document.getElementById('uploadImageForm').submit();
    }

    function enableEditing() {
        document.getElementById('editButtonDiv').style.display = 'none';
        document.getElementById('saveCancelButtonDiv').style.display = 'block';

        document.getElementById('firstName').style.display = 'none';
        document.getElementById('firstNameEdit').style.display = 'inline';

        document.getElementById('lastName').style.display = 'none';
        document.getElementById('lastNameEdit').style.display = 'inline';
        document.getElementById('isLastNameOptional').style.display = 'inline';
        document.getElementById('isLastNameOptionalLabelEdit').style.display = 'inline';
        let lName = document.getElementById('lastNameEdit');
        let lNameError = document.getElementById("lastNameError")
        if (lName.value.trim() === "" && !lNameError === null && lNameError.textContent === "") {
            document.getElementById('isLastNameOptional').checked = true;
            document.getElementById('lastNameEdit').disabled = true;
        }

        document.getElementById('DoB').style.display = 'none';
        document.getElementById('DoBEdit').style.display = 'inline';

        document.getElementById('email').style.display = 'none';
        document.getElementById('emailEdit').style.display = 'inline';

        console.log("Editing Enabled");
    }

    function disableEditing() {
        document.getElementById('editButtonDiv').style.display = 'block';
        document.getElementById('saveCancelButtonDiv').style.display = 'none';

        document.getElementById('firstName').style.display = 'inline';
        document.getElementById('firstNameEdit').style.display = 'none';

        document.getElementById('lastName').style.display = 'inline';
        document.getElementById('lastNameEdit').style.display = 'none';
        document.getElementById('isLastNameOptional').style.display = 'none';
        document.getElementById('isLastNameOptionalLabelEdit').style.display = 'none';

        document.getElementById('DoB').style.display = 'inline';
        document.getElementById('DoBEdit').style.display = 'none';

        document.getElementById('email').style.display = 'inline';
        document.getElementById('emailEdit').style.display = 'none';

        window.location.href = '/user'

        console.log("Editing Disabled");
    }

    function checkIfError() {
        const errorOccurred = document.getElementById("errorEditingDetails").getAttribute("data-error-occurred");
        if (errorOccurred && errorOccurred === "Error editing details") {
            enableEditing();
        }
    }

    window.onload = function() {
        checkIfError();
    };
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var firstNameValid = /*[[${firstNameValid}]]*/ '';
    var lastNameValid = /*[[${lastNameValid}]]*/ '';
    var DoBValid = /*[[${DoBValid}]]*/ '';
    var emailValid = /*[[${emailValid}]]*/ '';
    var uploadMessage = /*[[${uploadMessage}]]*/ '';

    if ((firstNameValid !== '' || lastNameValid !== '' || emailValid !== '')) {
        console.log("edit");
        enableEditing();
    }

    // The following function was generated by chatGPT
    function selectOption(button, optionNumber) {
        // Remove the 'selected' class from all buttons
        const buttons = document.querySelectorAll('.selectable');
        buttons.forEach(btn => btn.classList.remove('selected'));

        // Add the 'selected' class to the clicked button
        button.classList.add('selected');

        document.getElementById('layout').value = optionNumber;
    }
    /*]]>*/
</script>
</body>
</html>