<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{~/css/stylesheet.css}">
</head>
<body>
<nav th:insert="~{fragmentExample/fragments/navbar.html}"></nav>
<div id="user_div">
<h1>User Profile</h1>

<div class="UserProfilePicContainer">
    <div class="UserProfilePic">
        <img th:src="@{${'/uploads/' + profilePic}}" alt="Profile Picture">
    </div>
</div>
<div >
    <button class="ChangeProfilePictureButtonContainer" type="button" id="changePicture" onclick=toggleUploadContainer()> + </button>
</div>

<div id="uploadContainer"  style="display: none;">
    <h3 id="upLoadTitle">Upload New Profile Image</h3>
    <div class="imageInstructionsContainer">
        <h4>Picture must be less than 10MB</h4>
        <h4>Picture must be of type jpg, png, or svg</h4>
    </div>


    <div class="formContainer">
        <form id="uploadForm" action="/user" method="post" enctype="multipart/form-data">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <div class="uploadLabelContainer">
                <label for="file">Choose an image:</label>
                <input type="file" id="file" name="file" accept="image/*" placeholder="Choose an image">
            </div>
            <div class="submitButtonContainer">
                <button class="buttonDesign" type="submit">Upload</button>
                <button class="buttonDesign" type="reset" onclick="window.location='./user'">Cancel</button>
            </div>
        </form>
    </div>

    <div class="warningMessageContainer">
        <p th:text="${uploadMessage}" th:value="*{uploadMessage}"></p>
    </div>
</div>

<div>
    <form id="form" action="/user" method="get">
        <label for="firstName"> First Name: </label>
        <span id="firstName" th:text="${firstName}"></span>
        <input autofocus class="form-control" data-cy="firstName" id="firstNameEdit"
               placeholder="First Name" required th:name="firstName" th:value="*{firstName}" type="text" style="display: none;">
        <p class="errorMessage" th:text="${firstNameValid}"></p>
        <br/>

        <label for="lastName"> Last Name: </label>
        <span id="lastName" th:text="${lastName}"></span>
        <input class="form-control" data-cy="lastName" id="lastNameEdit" placeholder="Last Name"
               th:name="lastName" th:value="*{lastName}" type="text" style="display: none">
        <br/>
        <input class="form-control" data-cy="isLastNameOptional" id="isLastNameOptional" name="isLastNameOptional" placeholder="Last Name Tick Box Check"
               th:name="isLastNameOptional" type="checkbox" style="display: none;">
        <label id="isLastNameOptionalLabelEdit" style="display: none;">I have no surname</label>
        <script>
            document.getElementById('isLastNameOptional').checked = false;
            document.getElementById('isLastNameOptional').onchange = function () {
                document.getElementById('lastNameEdit').disabled = this.checked;
            };
        </script>
        <p class="errorMessage" th:text="${lastNameValid}"></p>
        <br/>

        <label for="DoB"> Date of Birth: </label>
        <span id="DoB" th:text="${DoB}"></span>
        <input class="form-control" data-cy="DoB" id="DoBEdit"
               th:name="DoB" th:value="*{DoB}" type="date" style="display: none;">
        <p class="errorMessage" id = "DoBInvalid" th:text="${DoBValid}"></p>
        <script>
            document.getElementById( "DoBEdit" ).addEventListener( "invalid",
                function( event ) {
                    event.preventDefault();
                    console.log("invalid date");
                    document.getElementById("DoBInvalid").textContent = "Date is not in valid format, DD/MM/YYYY";
                });
        </script>
        <br/>
        <label for="email"> Email: </label>
        <span id="email" th:text="${email}"></span>
        <input class="form-control" data-cy="email" id="emailEdit" placeholder="Email"
               th:name="email" th:value="*{email}" type="text" style="display: none;">
        <p class="errorMessage" th:text="${emailValid}"></p>
        <br/>

        <div id="editButtonDiv">
            <button class="buttonDesign" type="button" onclick="enableEditing()">Edit</button>
        </div>
        <div id="saveCancelButtonDiv" style="display: none;">
            <div>
                <a th:href="@{password}">Update password</a>
            </div>
            <input type="submit" value="Save" onclick="console.log('save')"/>
            <button type="button" onclick="disableEditing()">Cancel</button>
        </div>
    </form>
</div>
</div>


<script>

    function toggleUploadContainer() {
        let toggleState = document.getElementById("uploadContainer");
        if (toggleState.style.display === "flex") {
            toggleState.style.display = "none";
        } else {
            toggleState.style.display = "flex";
        }
    }
    function enableEditing() {
        toggleUploadContainer()
        document.getElementById('editButtonDiv').style.display = 'none';
        document.getElementById('saveCancelButtonDiv').style.display = 'block';

        document.getElementById('firstName').style.display = 'none';
        document.getElementById('firstNameEdit').style.display = 'inline';

        document.getElementById('lastName').style.display = 'none';
        document.getElementById('lastNameEdit').style.display = 'inline';
        document.getElementById('isLastNameOptional').style.display = 'inline';
        document.getElementById('isLastNameOptionalLabelEdit').style.display = 'inline';
        let lName = document.getElementById('lastNameEdit');
        if (lName.value.trim() === "") {
            document.getElementById('isLastNameOptional').checked = true;
            document.getElementById('lastNameEdit').disabled = true;
        }

        document.getElementById('DoB').style.display = 'none';
        document.getElementById('DoBEdit').style.display = 'inline';

        document.getElementById('email').style.display = 'none';
        document.getElementById('emailEdit').style.display = 'inline';

    }

    function disableEditing() {
        toggleUploadContainer()
        document.getElementById('editButtonDiv').style.display = 'block';
        document.getElementById('saveCancelButtonDiv').style.display = 'none';

        document.getElementById('firstName').style.display = 'inline';
        document.getElementById('firstNameEdit').style.display = 'none';

        document.getElementById('lastName').style.display = 'inline';
        document.getElementById('lastNameEdit').style.display = 'none';
        document.getElementById('isLastNameOptional').style.display = 'none';
        document.getElementById('isLastNameOptionalLabelEdit').style.display = 'none';

        document.getElementById('DoB').style.display = 'inline';
        document.getElementById('DoBEdit').style.display = 'none';

        document.getElementById('email').style.display = 'inline';
        document.getElementById('emailEdit').style.display = 'none';

        window.location.href='/user'
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var firstNameValid = /*[[${firstNameValid}]]*/ '';
    var lastNameValid = /*[[${lastNameValid}]]*/ '';
    var DoBValid = /*[[${DoBValid}]]*/ '';
    var emailValid = /*[[${emailValid}]]*/ '';
    if (firstNameValid !== '' || lastNameValid !== '' || DoBValid !== '' || emailValid !== '') {
        console.log("edit");
        enableEditing();
    }
    /*]]>*/
</script>
</body>
</html>